# 남녀공학구분명, 고등학교구분명, 고등학교일반실업구분명

## 남녀공학구분명

In [ ]:
import pandas as pd
import numpy as np
from functools import reduce

In [ ]:
# 13. 나이스_학교정보 데이터 불러오기(남녀공학구분명, 고등학교구분명, 고등학교일반실업구분명)
school_df = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\나이스_서울_전체_위경도_학교기본정보.csv",index_col = 0)
school_df = school_df[['시군구','남녀공학구분명','고등학교구분명','고등학교일반실업구분명']]
school_df.dtypes

In [ ]:
school_df["남녀공학구분명"].value_counts()

In [ ]:
school_df = school_df.groupby("남녀공학구분명")["시군구"].value_counts().to_frame()
school_df = school_df.rename(columns={"시군구":"수"})
school_df = school_df.reset_index()
school_df_man = school_df.iloc[0:24]
school_df_sum = school_df.iloc[24:49]
school_df_wo = school_df.iloc[49:74]

In [ ]:
school_df_man = school_df_man.rename(columns={"수":"남고"})
school_df_sum = school_df_sum.rename(columns={"수":"남녀공학"})
school_df_wo = school_df_wo.rename(columns={"수":"여고"})
man_wo = pd.merge(school_df_man, school_df_sum, on=['시군구'], how='outer', sort=True)
man_wo_2 = pd.merge(man_wo, school_df_wo, on=['시군구'], how='outer', sort=True)
man_wo_2 = man_wo_2[['시군구','남고','남녀공학','여고']]
man_wo_2 = man_wo_2.fillna(0)
man_wo_2 = man_wo_2.astype({'남고':int,'남녀공학':int,'여고':int})
man_wo_2

In [ ]:
# 저장 후 주석처리 
# man_wo_2.to_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\서울특별시_남녀공학구분명.csv", index=False)

## 고등학교구분명

In [ ]:
# 14. 나이스_학교정보 데이터 불러오기(남녀공학구분명, 고등학교구분명, 고등학교일반실업구분명)
school_df = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\나이스_서울_전체_위경도_학교기본정보.csv",index_col = 0)
school_df = school_df[['시군구','고등학교구분명']]
school_df

In [ ]:
school_df["고등학교구분명"].value_counts()

In [ ]:
school_df = school_df.groupby("고등학교구분명")["시군구"].value_counts().to_frame()
school_df= school_df.rename(columns={"시군구":"수"})
school_df = school_df.reset_index()
school_df_1 = school_df.iloc[0:25]
school_df_2 = school_df.iloc[25:48]
school_df_3 = school_df.iloc[48:61]
school_df_4 = school_df.iloc[61:84]

In [ ]:
school_df_1 = school_df_1.rename(columns={"수":"일반고"})
school_df_2 = school_df_2.rename(columns={"수":"특성화고"})
school_df_3 = school_df_3.rename(columns={"수":"자율고"})
school_df_4 = school_df_4.rename(columns={"수":"특목고"})
data1 = pd.merge(school_df_1, school_df_2, on=['시군구'], how='outer', sort=True)
data2 = pd.merge(data1, school_df_3, on=['시군구'], how='outer', sort=True)
data3 = pd.merge(data2, school_df_4, on=['시군구'], how='outer', sort=True)
data3

In [ ]:
data3 = data3[['시군구','일반고','특성화고','자율고','특목고']]
data3 = data3.fillna(0)
data3 = data3.astype({'일반고':int,'특성화고':int,'자율고':int,'특목고':int})
data3

In [ ]:
# 저장 후 주석처리 
# data3.to_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\서울특별시_고등학교구분명.csv", index=False)

## 고등학교일반실업구분명

In [ ]:
# 15. 나이스_학교정보 데이터 불러오기(남녀공학구분명, 고등학교구분명, 고등학교일반실업구분명)
school_df = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\나이스_서울_전체_위경도_학교기본정보.csv",index_col = 0)
school_df = school_df[['시군구','고등학교일반실업구분명']]
school_df

In [ ]:
school_df["고등학교일반실업구분명"].value_counts()

In [ ]:
school_df = school_df.groupby("고등학교일반실업구분명")["시군구"].value_counts().to_frame()
school_df= school_df.rename(columns={"시군구":"수"})
school_df = school_df.reset_index()
school_df_1 = school_df.iloc[0:25]
school_df_2 = school_df.iloc[25:50]

In [ ]:
school_df_1 = school_df_1.rename(columns={"수":"일반계"})
school_df_2 = school_df_2.rename(columns={"수":"전문계"})
data1 = pd.merge(school_df_1, school_df_2, on=['시군구'], how='outer', sort=True)
data1

In [ ]:
data1 = data1[['시군구','일반계','전문계']]
data1 = data1.fillna(0)
data1 = data1.astype({'일반계':int,'전문계':int})
data1

In [ ]:
# 저장 후 주석처리 
# data1.to_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\서울특별시_고등학교일반실업구분명.csv", index=False)