# 소득인식수준 데이터(서울열린데이터광장, 서울특별시)

In [1]:
import pandas as pd
import numpy as np

In [48]:
income_recognition_level = pd.read_csv("D:/MultiCampus/DATAexam/융복합/폭력분석/data/소득/소득인식수준_20230117154458.csv")
income_recognition_level

,구분별(1),구분별(2),수준별(1),수준별(2),2018,2017,2016,2015,2014,2013,2012,2011
0,서울시,소계,소득인식수준 (점),저소득,26.6,21.9,32.3,31.6,29.0,33.6,34.0,31.4
1,서울시,소계,소득인식수준 (점),중간,53.9,52.7,51.3,51.1,53.2,49.8,51.9,51.5
2,서울시,소계,소득인식수준 (점),고소득,19.5,25.4,16.4,17.2,17.8,16.5,14.1,17.1
3,성별,남자,소득인식수준 (점),저소득,22.5,18.3,25.2,25.6,24.2,28.6,29.4,26.8
4,성별,남자,소득인식수준 (점),중간,55.5,53.9,56.3,55.2,56.4,53.6,55.2,53.8
...,...,...,...,...,...,...,...,...,...,...,...,...
175,지역소분류,송파구,소득인식수준 (점),중간,...,61.9,46.0,...,57.9,52.1,47.5,42.8
176,지역소분류,송파구,소득인식수준 (점),고소득,...,21.3,23.2,...,18.7,22.4,19.3,33.2
177,지역소분류,강동구,소득인식수준 (점),저소득,...,27.6,26.2,...,21.7,36.9,47.8,33.9
178,지역소분류,강동구,소득인식수준 (점),중간,...,52.6,56.0,...,56.8,49.6,39.6,52.3
179,지역소분류,강동구,소득인식수준 (점),고소득,...,19.8,17.8,...,21.5,13.5,12.7,13.7

In [49]:
income_recognition_level[income_recognition_level['구분별(1)'] == '지역소분류']

,구분별(1),구분별(2),수준별(1),수준별(2),2018,2017,2016,2015,2014,2013,2012,2011
105,지역소분류,종로구,소득인식수준 (점),저소득,...,8.3,29.5,...,15.3,28.7,47.8,28.8
106,지역소분류,종로구,소득인식수준 (점),중간,...,38.2,54.0,...,65.5,51.3,38.4,59.3
107,지역소분류,종로구,소득인식수준 (점),고소득,...,53.5,16.5,...,19.2,20.0,13.8,11.9
108,지역소분류,중구,소득인식수준 (점),저소득,...,32.6,27.7,...,29.9,50.7,48.6,23.9
109,지역소분류,중구,소득인식수준 (점),중간,...,35.2,54.0,...,59.1,30.6,42.7,56.2
...,...,...,...,...,...,...,...,...,...,...,...,...
175,지역소분류,송파구,소득인식수준 (점),중간,...,61.9,46.0,...,57.9,52.1,47.5,42.8
176,지역소분류,송파구,소득인식수준 (점),고소득,...,21.3,23.2,...,18.7,22.4,19.3,33.2
177,지역소분류,강동구,소득인식수준 (점),저소득,...,27.6,26.2,...,21.7,36.9,47.8,33.9
178,지역소분류,강동구,소득인식수준 (점),중간,...,52.6,56.0,...,56.8,49.6,39.6,52.3
179,지역소분류,강동구,소득인식수준 (점),고소득,...,19.8,17.8,...,21.5,13.5,12.7,13.7

In [50]:
# 최신 데이터만 slicing
income_recognition_level = income_recognition_level[['구분별(2)', '수준별(2)', '2017']]
income_recognition_level

    구분별(2) 수준별(2)  2017
0       소계    저소득  21.9
1       소계     중간  52.7
2       소계    고소득  25.4
3       남자    저소득  18.3
4       남자     중간  53.9
..     ...    ...   ...
175    송파구     중간  61.9
176    송파구    고소득  21.3
177    강동구    저소득  27.6
178    강동구     중간  52.6
179    강동구    고소득  19.8

[180 rows x 3 columns]

In [51]:
income_recognition_level = income_recognition_level[105:len(income_recognition_level)]
income_recognition_level

    구분별(2) 수준별(2)  2017
105    종로구    저소득   8.3
106    종로구     중간  38.2
107    종로구    고소득  53.5
108     중구    저소득  32.6
109     중구     중간  35.2
..     ...    ...   ...
175    송파구     중간  61.9
176    송파구    고소득  21.3
177    강동구    저소득  27.6
178    강동구     중간  52.6
179    강동구    고소득  19.8

[75 rows x 3 columns]

In [53]:
income_recognition_level.reset_index(drop=True, inplace=True)
income_recognition_level

   구분별(2) 수준별(2)  2017
0     종로구    저소득   8.3
1     종로구     중간  38.2
2     종로구    고소득  53.5
3      중구    저소득  32.6
4      중구     중간  35.2
..    ...    ...   ...
70    송파구     중간  61.9
71    송파구    고소득  21.3
72    강동구    저소득  27.6
73    강동구     중간  52.6
74    강동구    고소득  19.8

[75 rows x 3 columns]

In [54]:
income_recognition_level.rename(columns={'구분별(2)':'시군구', '수준별(2)': '소득인식', '2017': '비율'}, inplace=True)
income_recognition_level

C:\Users\sunfo\AppData\Local\Temp\ipykernel_18324\4053661729.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  income_recognition_level.rename(columns={'구분별(2)':'시군구', '수준별(2)': '소득인식', '2017': '비율'}, inplace=True)

    시군구 소득인식    비율
0   종로구  저소득   8.3
1   종로구   중간  38.2
2   종로구  고소득  53.5
3    중구  저소득  32.6
4    중구   중간  35.2
..  ...  ...   ...
70  송파구   중간  61.9
71  송파구  고소득  21.3
72  강동구  저소득  27.6
73  강동구   중간  52.6
74  강동구  고소득  19.8

[75 rows x 3 columns]

In [71]:
income_pt = pd.pivot_table(income_recognition_level,
                           index = income_recognition_level['시군구'],
                           columns = income_recognition_level['소득인식'])
income_pt

        비율
소득인식   고소득   저소득    중간
시군구
강남구   34.7  20.4  44.9
강동구   19.8  27.6  52.6
강북구   23.4  23.6  52.9
강서구   17.2  20.1  62.7
관악구   20.0  22.0  58.0
광진구   23.0  23.9  53.1
구로구   26.5  22.4  51.1
금천구   18.2  20.8  61.0
노원구   18.5  35.8  45.7
도봉구   29.7  14.0  56.2
동대문구  22.0  31.6  46.3
동작구   17.0  30.0  53.1
마포구   29.8  16.5  53.7
서대문구  20.2  32.8  46.9
서초구   35.2  11.9  52.8
성동구   33.3  19.6  47.1
성북구   38.8  11.8  49.3
송파구   21.3  16.8  61.9
양천구   13.5  23.7  62.8
영등포구  40.5  20.3  39.2
용산구   23.2  24.1  52.7
은평구   23.9  22.7  53.4
종로구   53.5   8.3  38.2
중구    32.2  32.6  35.2
중랑구   25.6  16.0  58.5

In [72]:
income_pt.columns

MultiIndex([('비율', '고소득'),
            ('비율', '저소득'),
            ('비율',  '중간')],
           names=[None, '소득인식'])

In [73]:
income_pt.columns = income_pt.columns.get_level_values(1)
income_pt

소득인식   고소득   저소득    중간
시군구
강남구   34.7  20.4  44.9
강동구   19.8  27.6  52.6
강북구   23.4  23.6  52.9
강서구   17.2  20.1  62.7
관악구   20.0  22.0  58.0
광진구   23.0  23.9  53.1
구로구   26.5  22.4  51.1
금천구   18.2  20.8  61.0
노원구   18.5  35.8  45.7
도봉구   29.7  14.0  56.2
동대문구  22.0  31.6  46.3
동작구   17.0  30.0  53.1
마포구   29.8  16.5  53.7
서대문구  20.2  32.8  46.9
서초구   35.2  11.9  52.8
성동구   33.3  19.6  47.1
성북구   38.8  11.8  49.3
송파구   21.3  16.8  61.9
양천구   13.5  23.7  62.8
영등포구  40.5  20.3  39.2
용산구   23.2  24.1  52.7
은평구   23.9  22.7  53.4
종로구   53.5   8.3  38.2
중구    32.2  32.6  35.2
중랑구   25.6  16.0  58.5

In [88]:
income_pt.columns.name=''

In [90]:
income_pt = income_pt[['저소득', '중간', '고소득']]
income_pt

       저소득    중간   고소득
시군구
강남구   20.4  44.9  34.7
강동구   27.6  52.6  19.8
강북구   23.6  52.9  23.4
강서구   20.1  62.7  17.2
관악구   22.0  58.0  20.0
광진구   23.9  53.1  23.0
구로구   22.4  51.1  26.5
금천구   20.8  61.0  18.2
노원구   35.8  45.7  18.5
도봉구   14.0  56.2  29.7
동대문구  31.6  46.3  22.0
동작구   30.0  53.1  17.0
마포구   16.5  53.7  29.8
서대문구  32.8  46.9  20.2
서초구   11.9  52.8  35.2
성동구   19.6  47.1  33.3
성북구   11.8  49.3  38.8
송파구   16.8  61.9  21.3
양천구   23.7  62.8  13.5
영등포구  20.3  39.2  40.5
용산구   24.1  52.7  23.2
은평구   22.7  53.4  23.9
종로구    8.3  38.2  53.5
중구    32.6  35.2  32.2
중랑구   16.0  58.5  25.6

In [92]:
income_pt.to_csv('D:/MultiCampus/DATAexam/융복합/폭력분석/data/구별_소득_분석.csv', encoding='utf-8-sig')