# 서울시 보통가구(동별)통계(서울열린데이터광장, 서울특별시)

In [66]:
import pandas as pd
import numpy as np

In [67]:
# 데이터 불러오기 
family = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\보통가구(동별)_20230125163339.csv",index_col = 0)
family

      동별(2) 동별(3) 구분별(1) 구분별(2)       구분별(3)     2010
동별(1)
서울시      소계    소계    총가구     소계           소계  3577497
서울시      소계    소계    총가구   일반가구           소계  3504297
서울시      소계    소계    총가구   일반가구         1인가구   854606
서울시      소계    소계    총가구   일반가구    비친족(혈연)가구    39252
서울시      소계    소계    총가구   일반가구         보통가구  2610439
...     ...   ...    ...    ...          ...      ...
서울시     강동구    길동    총가구   일반가구    비친족(혈연)가구      138
서울시     강동구    길동    총가구   일반가구         보통가구    13522
서울시     강동구    길동    총가구   집단가구  비혈연 6인이상 가구        3
서울시     강동구    길동    총가구   집단가구       집단시설가구       30
서울시     강동구    길동    총가구  외국인가구           소계      111

[3600 rows x 6 columns]

In [68]:
family_df = family[family['구분별(2)'].str.contains('소계', na = False)]

In [69]:
family_df[['동별(2)','2010']]

      동별(2)     2010
동별(1)
서울시      소계  3577497
서울시     종로구    60008
서울시     종로구     3536
서울시     종로구     1070
서울시     종로구     3477
...     ...      ...
서울시     강동구     5871
서울시     강동구     9140
서울시     강동구    13809
서울시     강동구    14469
서울시     강동구    16970

[450 rows x 2 columns]

In [70]:
# 인덱스 수정 
family_df.reset_index(drop=False, inplace=True)

# # 'index' 컬럼 drop
# family_df = family_df.drop(['index'],axis='columns')
# family_df

In [71]:
family_df['가구수'] = family_df['2010'].astype('int64')

C:\Users\ppi06\AppData\Local\Temp\ipykernel_2704\931550459.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  family_df['가구수'] = family_df['2010'].astype('int64')

In [72]:
family_df.dtypes

동별(1)     object
동별(2)     object
동별(3)     object
구분별(1)    object
구분별(2)    object
구분별(3)    object
2010      object
가구수        int64
dtype: object

In [73]:
family_df = family_df.groupby(["동별(2)"]).agg({"가구수":"sum"}).reset_index()
family_df

   동별(2)      가구수
0    강남구   405812
1    강동구   322316
2    강북구   235498
3    강서구   389724
4    관악구   443790
5    광진구   276060
6    구로구   302336
7    금천구   187046
8    노원구   395842
9    도봉구   238862
10  동대문구   262804
11   동작구   298292
12   마포구   287994
13  서대문구   229660
14   서초구   276530
15   성동구   219402
16   성북구   329698
17    소계  3577497
18   송파구   443980
19   양천구   310710
20  영등포구   299132
21   용산구   180846
22   은평구   311294
23   종로구   120016
24    중구    94820
25   중랑구   292530

In [74]:
family_df.rename(columns = {'동별(2)':'시군구'},inplace=True)
family_df

     시군구      가구수
0    강남구   405812
1    강동구   322316
2    강북구   235498
3    강서구   389724
4    관악구   443790
5    광진구   276060
6    구로구   302336
7    금천구   187046
8    노원구   395842
9    도봉구   238862
10  동대문구   262804
11   동작구   298292
12   마포구   287994
13  서대문구   229660
14   서초구   276530
15   성동구   219402
16   성북구   329698
17    소계  3577497
18   송파구   443980
19   양천구   310710
20  영등포구   299132
21   용산구   180846
22   은평구   311294
23   종로구   120016
24    중구    94820
25   중랑구   292530

In [75]:
family_df = family_df.drop(index=17,axis=0)
family_df.reset_index(drop=False, inplace=True)

In [77]:
family_df = family_df.drop(['index'],axis='columns')
family_df

     시군구     가구수
0    강남구  405812
1    강동구  322316
2    강북구  235498
3    강서구  389724
4    관악구  443790
5    광진구  276060
6    구로구  302336
7    금천구  187046
8    노원구  395842
9    도봉구  238862
10  동대문구  262804
11   동작구  298292
12   마포구  287994
13  서대문구  229660
14   서초구  276530
15   성동구  219402
16   성북구  329698
17   송파구  443980
18   양천구  310710
19  영등포구  299132
20   용산구  180846
21   은평구  311294
22   종로구  120016
23    중구   94820
24   중랑구  292530

In [78]:
# 저장 후 주석처리
# family_df.to_csv("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/서울시_구별_가구수.csv", index=False)