# 데이터 스케일링 - 모두 같은 기준으로

In [1]:
import pandas as pd
import numpy as np
from functools import reduce

In [2]:
# 스캐일링 기준 데이터 불러오기(학교폭력시리태조사 참여현황)
standard_df = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\학교알리미_2021_서울_학교폭력실태조사_참여현황.csv",index_col = 0)
standard_df

                  학교명       구분 대상 학생 수 학생 수 참여율(고등학교별 전국참여율)  피해 응답 학생 수
시군구
강남구            개포고등학교  2021학년도     640  584     91.3(  85.2)           2
강남구            경기고등학교  2021학년도   1,100  689     62.6(  85.2)           3
강남구          경기여자고등학교  2021학년도   1,095  962     87.9(  85.2)           1
강남구          국립국악고등학교  2021학년도     438  372     84.9(  85.2)           0
강남구  단국대학교부속소프트웨어고등학교  2021학년도     267  261     97.8(  85.2)           0
..                ...      ...     ...  ...              ...         ...
중랑구            원묵고등학교  2021학년도     643  591     91.9(  85.2)           0
중랑구  이화여자대학교병설미디어고등학교  2021학년도     537  431     80.3(  85.2)           0
중랑구            중화고등학교  2021학년도     542  345     63.7(  85.2)           2
중랑구            태릉고등학교  2021학년도     708  577     81.5(  85.2)           1
중랑구          혜원여자고등학교  2021학년도     588  407     69.2(  85.2)           0

[320 rows x 6 columns]

In [3]:
standard_df_all = standard_df[['학교명','대상 학생 수']]
standard_df_all.set_index("학교명",inplace=True)
standard_df_all['대상 학생 수'] = standard_df_all['대상 학생 수'].apply(lambda x: x.replace(',',''))
standard_df_all['대상 학생 수'] = standard_df_all['대상 학생 수'].astype('int')
standard_df_all

C:\Users\ppi06\AppData\Local\Temp\ipykernel_17888\1915957632.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  standard_df_all['대상 학생 수'] = standard_df_all['대상 학생 수'].apply(lambda x: x.replace(',',''))
C:\Users\ppi06\AppData\Local\Temp\ipykernel_17888\1915957632.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  standard_df_all['대상 학생 수'] = standard_df_all['대상 학생 수'].astype('int')

                  대상 학생 수
학교명
개포고등학교                640
경기고등학교               1100
경기여자고등학교             1095
국립국악고등학교              438
단국대학교부속소프트웨어고등학교      267
...                   ...
원묵고등학교                643
이화여자대학교병설미디어고등학교      537
중화고등학교                542
태릉고등학교                708
혜원여자고등학교              588

[320 rows x 1 columns]

In [4]:
standard_df_answer = standard_df[['학교명','피해 응답 학생 수']]
standard_df_answer.set_index("학교명",inplace=True)
standard_df_answer

                  피해 응답 학생 수
학교명
개포고등학교                     2
경기고등학교                     3
경기여자고등학교                   1
국립국악고등학교                   0
단국대학교부속소프트웨어고등학교           0
...                      ...
원묵고등학교                     0
이화여자대학교병설미디어고등학교           0
중화고등학교                     2
태릉고등학교                     1
혜원여자고등학교                   0

[320 rows x 1 columns]

In [5]:
# 스케일링 기준 데이터 불러오기(구 별 고등학교 학생 수)(구 별 고등학교 수)
standard_df1 = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\서울시_구별_학생수_학교수.csv",index_col = 0)

In [6]:
standard_stud = standard_df1[['대상 학생 수']]
standard_scho = standard_df1[['학교 수']]
standard_stud

      대상 학생 수
시군구
강남구     17609
강동구     10734
강북구      5240
강서구     14167
관악구      8850
광진구      7308
구로구      9037
금천구      3881
노원구     19146
도봉구      6342
동대문구     6653
동작구      5762
마포구      5861
서대문구     4912
서초구      9542
성동구      4040
성북구      8013
송파구     14186
양천구     12085
영등포구     5678
용산구      5028
은평구     12213
종로구      8051
중구       6190
중랑구      5893

In [7]:
# 스케일링 기준 데이터 불러오기(주민등록상 인구 수)
standard_df2 = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\서울특별시(구별)_2021_주민등록인구.csv",index_col = 0)
standard_df2.reset_index(drop=False, inplace=True)
standard_df2.rename(columns = {'borough':'시군구','2021':'주민등록상_인구'},inplace=True)
standard_df3 = standard_df2.sort_values(by=['시군구','주민등록상_인구'], ascending = True)
standard_df3.reset_index(drop=False, inplace=True)

# 'index' 컬럼 drop
standard_df3 = standard_df3.drop(['index'],axis='columns')
standard_df3 = standard_df3.set_index('시군구')
standard_df3

      주민등록상_인구
시군구
강남구     537800
강동구     466472
강북구     302563
강서구     579768
관악구     499449
광진구     352627
구로구     421163
금천구     244891
노원구     514946
도봉구     319373
동대문구    352006
동작구     394364
마포구     378686
서대문구    315659
서초구     416167
성동구     292672
성북구     440142
송파구     663965
양천구     450487
영등포구    400908
용산구     237285
은평구     477173
종로구     153789
중구      131787
중랑구     391885

In [8]:
# 스케일링 기준 데이터 불러오기(구 별 가구 수)
standard_df4 = pd.read_csv("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/서울시_구별_가구수.csv",index_col = 0)
standard_df4

         가구수
시군구
강남구   405812
강동구   322316
강북구   235498
강서구   389724
관악구   443790
광진구   276060
구로구   302336
금천구   187046
노원구   395842
도봉구   238862
동대문구  262804
동작구   298292
마포구   287994
서대문구  229660
서초구   276530
성동구   219402
성북구   329698
송파구   443980
양천구   310710
영등포구  299132
용산구   180846
은평구   311294
종로구   120016
중구     94820
중랑구   292530

In [9]:
# 1. 나이스_학교정보 데이터 불러오기 
school = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\나이스_서울_전체_위경도_학교기본정보_Ver2.csv",index_col = 0)
school

,시도교육청코드,시도교육청명,표준학교코드,학교명,영문학교명,학교종류명,소재지명,시군구,관할조직명,설립명,...,산업체특별학급존재여부,고등학교일반실업구분명,특수목적고등학교계열명,입시전후기구분명,주야구분명,설립일자,개교기념일,수정일,위도,경도
0,B10,서울특별시교육청,7010057,가락고등학교,Garak High School,고등학교,서울특별시,송파구,서울특별시교육청,공립,...,N,일반계,NaN,후기,주간,19881223,19890428,20230115,37.501076,127.116426
1,B10,서울특별시교육청,7011169,가재울고등학교,Gajaeul High School,고등학교,서울특별시,서대문구,서울특별시교육청,공립,...,N,일반계,NaN,후기,주간,20130301,20130501,20230115,37.574364,126.909530
2,B10,서울특별시교육청,7010117,강동고등학교,Kangdong High School,고등학교,서울특별시,강동구,서울특별시교육청,사립,...,N,일반계,NaN,후기,주간,19841217,19850908,20230115,37.549917,127.160668
3,B10,서울특별시교육청,7010118,강서고등학교,Gangseo High School,고등학교,서울특별시,양천구,서울특별시교육청,사립,...,N,일반계,NaN,후기,주간,19831101,19831101,20230115,37.536316,126.865771
4,B10,서울특별시교육청,7010270,강서공업고등학교,Gangseo Technical High School,고등학교,서울특별시,강서구,서울특별시교육청,공립,...,N,전문계,NaN,전기,주간,19940105,19940105,20230115,37.576034,126.816182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,B10,서울특별시교육청,7010766,효문고등학교,Hyomun High School,고등학교,서울특별시,도봉구,서울특별시교육청,공립,...,N,일반계,NaN,후기,주간,20051229,20060605,20230115,37.652699,127.018400
316,B10,서울특별시교육청,7010292,휘경공업고등학교,Hwigyeong Technical High School,고등학교,서울특별시,동대문구,서울특별시교육청,공립,...,N,전문계,NaN,전기,주간,19971220,19980702,20230115,37.585153,127.069451
317,B10,서울특별시교육청,7010267,휘경여자고등학교,Hwikyung Girls` High School,고등학교,서울특별시,동대문구,서울특별시교육청,사립,...,N,일반계,NaN,후기,주간,19750303,19750519,20230115,37.581901,127.067434
318,B10,서울특별시교육청,7010268,휘문고등학교,Whimoon High School,고등학교,서울특별시,강남구,서울특별시교육청,사립,...,N,일반계,NaN,전기,주간,19060501,19060501,20230115,37.505289,127.061994
319,B10,서울특별시교육청,7011113,휘봉고등학교,HWIBONG High School,고등학교,서울특별시,동대문구,서울특별시교육청,공립,...,N,일반계,NaN,후기,주간,20120106,20120501,20230115,37.586372,127.068941

In [10]:
# 2. 학교폭력피해장소 데이터 불러오기
# 스케일링 : 학교폭력피해응답수 
place = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\학교알리미_2021_서울_학교폭력피해장소.csv")
place =  place.set_index('학교명')
place.drop(['시군구','구분'],axis=1, inplace=True)
place

,교실안,"특별실,방과후 교실 등","복도,계단",화장실,"운동장,체육관,강당 등","급식실,매점 등",기숙사,학원이나학원 근처,집이나집 근처,"PC방,노래방,오락실 등","공원, 놀이터,골목, 공터,뒷산 등",학교 밖체험활동 장소,사이버공간,기타
학교명,,,,,,,,,,,,,,
개포고등학교,1,0,1,0,1,0,0,0,0,0,0,0,2,0
경기고등학교,2,0,1,0,0,0,0,0,1,0,0,0,0,0
경기여자고등학교,1,0,1,0,0,0,0,0,0,0,0,0,0,0
국립국악고등학교,0,0,0,0,0,0,0,0,0,0,0,0,0,0
단국대학교부속소프트웨어고등학교,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
원묵고등학교,0,0,0,0,0,0,0,0,0,0,0,0,0,0
이화여자대학교병설미디어고등학교,0,0,0,0,0,0,0,0,0,0,0,0,0,0
중화고등학교,1,1,1,0,0,0,0,0,0,1,1,0,0,0
태릉고등학교,0,0,0,0,0,0,0,0,0,0,0,0,1,0
혜원여자고등학교,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [11]:
place_ver1 = place.apply(lambda x : x/standard_df_answer['피해 응답 학생 수'])
place_ver2 = place_ver1.fillna(0)
place_ver2

,교실안,"특별실,방과후 교실 등","복도,계단",화장실,"운동장,체육관,강당 등","급식실,매점 등",기숙사,학원이나학원 근처,집이나집 근처,"PC방,노래방,오락실 등","공원, 놀이터,골목, 공터,뒷산 등",학교 밖체험활동 장소,사이버공간,기타
학교명,,,,,,,,,,,,,,
개포고등학교,0.500000,0.0,0.500000,0.0,0.5,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,1.0,0.0
경기고등학교,0.666667,0.0,0.333333,0.0,0.0,0.0,0.0,0.0,0.333333,0.0,0.0,0.0,0.0,0.0
경기여자고등학교,1.000000,0.0,1.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
국립국악고등학교,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
단국대학교부속소프트웨어고등학교,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
원묵고등학교,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
이화여자대학교병설미디어고등학교,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
중화고등학교,0.500000,0.5,0.500000,0.0,0.0,0.0,0.0,0.0,0.000000,0.5,0.5,0.0,0.0,0.0
태릉고등학교,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,1.0,0.0
혜원여자고등학교,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0

In [12]:
# 저장 후 주석처리
# place_ver2.to_csv("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/학교알리미_2021_서울_학교별_스케일링_학교폭력피해장소.csv")

In [13]:
# 3. 학교폭력피해유형 데이터 불러오기(구별 고등학교 수)
typedf = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\학교알리미_2021_서울_학교폭력피해유형.csv")
typedf =  typedf.set_index('학교명')
typedf.drop(['시군구','구분'],axis=1, inplace=True)
typedf

                  강요  금품갈취  신체폭력  사이버폭력  집단따돌림  기타
학교명
개포고등학교             0     0     0      2      1   0
경기고등학교             0     2     2      0      1   1
경기여자고등학교           0     0     0      0      0   1
국립국악고등학교           0     0     0      0      0   0
단국대학교부속소프트웨어고등학교   0     0     0      0      0   0
...               ..   ...   ...    ...    ...  ..
원묵고등학교             0     0     0      0      0   0
이화여자대학교병설미디어고등학교   0     0     0      0      0   0
중화고등학교             0     1     1      0      0   1
태릉고등학교             1     0     1      1      1   2
혜원여자고등학교           0     0     0      0      0   0

[320 rows x 6 columns]

In [14]:
typedf_ver1= typedf.apply(lambda x : x/standard_df_answer['피해 응답 학생 수'])
typedf_ver2 = typedf_ver1.fillna(0)
typedf_ver2

                   강요      금품갈취      신체폭력  사이버폭력     집단따돌림        기타
학교명
개포고등학교            0.0  0.000000  0.000000    1.0  0.500000  0.000000
경기고등학교            0.0  0.666667  0.666667    0.0  0.333333  0.333333
경기여자고등학교          0.0  0.000000  0.000000    0.0  0.000000  1.000000
국립국악고등학교          0.0  0.000000  0.000000    0.0  0.000000  0.000000
단국대학교부속소프트웨어고등학교  0.0  0.000000  0.000000    0.0  0.000000  0.000000
...               ...       ...       ...    ...       ...       ...
원묵고등학교            0.0  0.000000  0.000000    0.0  0.000000  0.000000
이화여자대학교병설미디어고등학교  0.0  0.000000  0.000000    0.0  0.000000  0.000000
중화고등학교            0.0  0.500000  0.500000    0.0  0.000000  0.500000
태릉고등학교            1.0  0.000000  1.000000    1.0  1.000000  2.000000
혜원여자고등학교          0.0  0.000000  0.000000    0.0  0.000000  0.000000

[320 rows x 6 columns]

In [15]:
# 저장 후 주석처리
# typedf_ver2.to_csv("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/학교알리미_2021_서울_학교별_스케일링_학교폭력피해유형.csv")

In [16]:
# 4. 학교폭력피해시간 데이터 불러오기(구별 고등학교 수)
time = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\학교알리미_2021_서울_학교폭력피해시간.csv")
time =  time.set_index('학교명')
time.drop(['시군구','구분'],axis=1, inplace=True)
time

,등교시간,수업시간,쉬는시간,점심시간,학교 안방과후 시간,하교시간,학교 밖체험활동 시간,학교 일과가끝난 후,기타
학교명,,,,,,,,,
개포고등학교,0,0,1,0,0,1,0,2,0
경기고등학교,1,1,2,2,1,1,1,0,0
경기여자고등학교,0,1,1,1,0,0,0,0,0
국립국악고등학교,0,0,0,0,0,0,0,0,0
단국대학교부속소프트웨어고등학교,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
원묵고등학교,0,0,0,0,0,0,0,0,0
이화여자대학교병설미디어고등학교,0,0,0,0,0,0,0,0,0
중화고등학교,0,1,1,1,0,0,0,1,0
태릉고등학교,0,0,0,0,0,0,0,0,1
혜원여자고등학교,0,0,0,0,0,0,0,0,0

In [17]:
time_ver1= time.apply(lambda x : x/standard_df_answer['피해 응답 학생 수'])
time_ver2 = time_ver1.fillna(0)
time_ver2

,등교시간,수업시간,쉬는시간,점심시간,학교 안방과후 시간,하교시간,학교 밖체험활동 시간,학교 일과가끝난 후,기타
학교명,,,,,,,,,
개포고등학교,0.000000,0.000000,0.500000,0.000000,0.000000,0.500000,0.000000,1.0,0.0
경기고등학교,0.333333,0.333333,0.666667,0.666667,0.333333,0.333333,0.333333,0.0,0.0
경기여자고등학교,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.0,0.0
국립국악고등학교,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
단국대학교부속소프트웨어고등학교,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...
원묵고등학교,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
이화여자대학교병설미디어고등학교,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
중화고등학교,0.000000,0.500000,0.500000,0.500000,0.000000,0.000000,0.000000,0.5,0.0
태릉고등학교,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,1.0
혜원여자고등학교,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0

In [18]:
# 저장 후 주석처리
# time_ver2.to_csv("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/학교알리미_2021_서울_학교별_스케일링_학교폭력피해시간.csv")

In [19]:
# 5. 학교폭력교육시간 데이터 불러오기
edu = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\학교알리미_2021_서울_학교폭력교육시간.csv")
edu

     시군구               학교명  평균 교육 시간(1학급당)
0    강남구            개포고등학교          126.40
1    강남구            경기고등학교           38.10
2    강남구          경기여자고등학교          200.00
3    강남구          국립국악고등학교          113.00
4    강남구  단국대학교부속소프트웨어고등학교          262.50
..   ...               ...             ...
315  중랑구            원묵고등학교           13.25
316  중랑구  이화여자대학교병설미디어고등학교          100.00
317  중랑구            중화고등학교          626.40
318  중랑구            태릉고등학교           44.40
319  중랑구          혜원여자고등학교          111.50

[320 rows x 3 columns]

In [20]:
# 6. 학교폭력 피해신고현황 데이터 불러오기
noti = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\학교알리미_2021_서울_학교폭력피해신고현황.csv")
noti =  noti.set_index('학교명')
noti.drop(['시군구','구분'],axis=1, inplace=True)
noti

,나의보호자나친척,학교선생님,학교상담실선생님,학교폭력신고함이나학교 익명게시판,친구나선·후배,"학교전담경찰관,경찰",117학교폭력신고센터,학교 밖상담 기관,아무에게도알리지않음
학교명,,,,,,,,,
개포고등학교,20.0,20.0,0.0,0.0,40.0,20.0,0.0,0.0,0.0
경기고등학교,25.0,25.0,12.5,0.0,12.5,12.5,0.0,0.0,12.5
경기여자고등학교,33.3,33.3,0.0,0.0,33.3,0.0,0.0,0.0,0.0
국립국악고등학교,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
단국대학교부속소프트웨어고등학교,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
원묵고등학교,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
이화여자대학교병설미디어고등학교,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
중화고등학교,50.0,0.0,0.0,0.0,50.0,0.0,0.0,0.0,0.0
태릉고등학교,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0
혜원여자고등학교,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
noti_ver1= noti.apply(lambda x : x/standard_df_answer['피해 응답 학생 수'])
noti_ver2 = noti_ver1.fillna(0)
noti_ver2

,나의보호자나친척,학교선생님,학교상담실선생님,학교폭력신고함이나학교 익명게시판,친구나선·후배,"학교전담경찰관,경찰",117학교폭력신고센터,학교 밖상담 기관,아무에게도알리지않음
학교명,,,,,,,,,
개포고등학교,10.000000,10.000000,0.000000,0.0,20.000000,10.000000,0.0,0.0,0.000000
경기고등학교,8.333333,8.333333,4.166667,0.0,4.166667,4.166667,0.0,0.0,4.166667
경기여자고등학교,33.300000,33.300000,0.000000,0.0,33.300000,0.000000,0.0,0.0,0.000000
국립국악고등학교,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000
단국대학교부속소프트웨어고등학교,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...
원묵고등학교,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000
이화여자대학교병설미디어고등학교,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000
중화고등학교,25.000000,0.000000,0.000000,0.0,25.000000,0.000000,0.0,0.0,0.000000
태릉고등학교,0.000000,0.000000,0.000000,0.0,100.000000,0.000000,0.0,0.0,0.000000
혜원여자고등학교,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000

In [22]:
# 저장 후 주석처리
# noti_ver2.to_csv("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/학교알리미_2021_서울_학교별_스케일링_학교폭력피해신고현황.csv")

In [23]:
# 7. 학교폭력실태조사 참여현황 데이터 불러오기
answer = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\학교알리미_2021_서울_학교폭력실태조사_참여현황.csv")
answer_ver1 = answer[['학교명','피해 응답 학생 수']]
answer_ver1.set_index("학교명",inplace=True)
answer_ver1

                  피해 응답 학생 수
학교명
개포고등학교                     2
경기고등학교                     3
경기여자고등학교                   1
국립국악고등학교                   0
단국대학교부속소프트웨어고등학교           0
...                      ...
원묵고등학교                     0
이화여자대학교병설미디어고등학교           0
중화고등학교                     2
태릉고등학교                     1
혜원여자고등학교                   0

[320 rows x 1 columns]

In [24]:
answer_ver2= answer_ver1.apply(lambda x : x/standard_df_all['대상 학생 수']*100)
answer_ver2

                  피해 응답 학생 수
학교명
개포고등학교              0.312500
경기고등학교              0.272727
경기여자고등학교            0.091324
국립국악고등학교            0.000000
단국대학교부속소프트웨어고등학교    0.000000
...                      ...
원묵고등학교              0.000000
이화여자대학교병설미디어고등학교    0.000000
중화고등학교              0.369004
태릉고등학교              0.141243
혜원여자고등학교            0.000000

[320 rows x 1 columns]

In [25]:
# 저장 후 주석처리
# answer_ver2.to_csv("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/학교알리미_2021_서울_학교별_스케일링_학교폭력실태조사_참여현황.csv")

In [26]:
# 8. 저소득한부모가족 데이터 불러오기(구)(주민등록거주인구)
single = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\서울_시군구_저소득_한부모가족.csv",index_col = 0)
single =  single.set_index('시군구')
single = single[['한부모가족지원법수급자_재가보호_가구원수','국민기초생활보장법수급자_가구원수']]
single

      한부모가족지원법수급자_재가보호_가구원수  국민기초생활보장법수급자_가구원수
시군구
종로구                     266                425
중구                      231                513
용산구                     253                899
성동구                     338               1098
광진구                     582               2023
동대문구                    614               1883
중랑구                    1052               3857
성북구                     672               2352
강북구                     910               3045
도봉구                     887               2723
노원구                     799               4272
은평구                     860               3470
서대문구                    529               1506
마포구                     484               1340
양천구                     720               2625
강서구                    1164               3892
구로구                     667               2189
금천구                     616               1873
영등포구                    383               1037
동작구                     367               1485
관악구                     651               2615
서초구                     265                949
강남구                     330               1652
송파구                     703               2785
강동구                     660               2270

In [27]:
single_ver2= single.apply(lambda x : x/standard_df3['주민등록상_인구']*10000)
single_ver2

      한부모가족지원법수급자_재가보호_가구원수  국민기초생활보장법수급자_가구원수
시군구
강남구                6.136110          30.717739
강동구               14.148759          48.663157
강북구               30.076381         100.640197
강서구               20.076996          67.130300
관악구               13.034364          52.357698
광진구               16.504692          57.369402
구로구               15.837099          51.975126
금천구               25.154048          76.483007
노원구               15.516190          82.960155
도봉구               27.773168          85.260808
동대문구              17.442884          53.493406
동작구                9.306123          37.655567
마포구               12.781038          35.385517
서대문구              16.758591          47.709712
서초구                6.367636          22.803346
성동구               11.548764          37.516401
성북구               15.267800          53.437300
송파구               10.587907          41.944982
양천구               15.982703          58.270272
영등포구               9.553314          25.866284
용산구               10.662284          37.886929
은평구               18.022814          72.719957
종로구               17.296426          27.635267
중구                17.528284          38.926449
중랑구               26.844610          98.421731

In [28]:
# 저장 후 주석처리
# single_ver2.to_csv("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/서울_시군구_저소득_스케일링_한부모가족.csv")

In [29]:
# 9. 소득인식수준 데이터 불러오기(구)
income = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\구별_소득_분석.csv")
income

     시군구   저소득    중간   고소득
0    강남구  20.4  44.9  34.7
1    강동구  27.6  52.6  19.8
2    강북구  23.6  52.9  23.4
3    강서구  20.1  62.7  17.2
4    관악구  22.0  58.0  20.0
5    광진구  23.9  53.1  23.0
6    구로구  22.4  51.1  26.5
7    금천구  20.8  61.0  18.2
8    노원구  35.8  45.7  18.5
9    도봉구  14.0  56.2  29.7
10  동대문구  31.6  46.3  22.0
11   동작구  30.0  53.1  17.0
12   마포구  16.5  53.7  29.8
13  서대문구  32.8  46.9  20.2
14   서초구  11.9  52.8  35.2
15   성동구  19.6  47.1  33.3
16   성북구  11.8  49.3  38.8
17   송파구  16.8  61.9  21.3
18   양천구  23.7  62.8  13.5
19  영등포구  20.3  39.2  40.5
20   용산구  24.1  52.7  23.2
21   은평구  22.7  53.4  23.9
22   종로구   8.3  38.2  53.5
23    중구  32.6  35.2  32.2
24   중랑구  16.0  58.5  25.6

In [30]:
# 10. 생활인구 데이터 불러오기(구)
population = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\서울_고등학생_생활인구.csv")
population

     시군구         생활인구수
0    강남구  48676.127803
1    강동구  27374.426865
2    강북구  13911.170469
3    강서구  25021.582465
4    관악구  19952.671005
5    광진구  19000.533999
6    구로구  16309.434611
7    금천구   7227.987055
8    노원구  36871.061608
9    도봉구  13943.602835
10  동대문구  17030.839962
11   동작구  17785.616206
12   마포구  21285.109796
13  서대문구  18487.645125
14   서초구  29702.207732
15   성동구  14306.989054
16   성북구  25225.850931
17   송파구  38980.609572
18   양천구  28477.439260
19  영등포구  16163.857961
20   용산구  11044.254429
21   은평구  23977.017523
22   종로구  12087.180861
23    중구   6470.685258
24   중랑구  15203.731721

In [31]:
# 11. 다문화가족 데이터 불러오기(구)(구별가구수)
culture = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\서울_시군구_다문화가족.csv",index_col = 0)
culture =  culture.set_index('시군구')
culture

      다문화가족  국제결혼가정  외국인가정
시군구
종로구      75      57     18
중구      104      77     27
용산구      86      62     24
성동구      42      33      9
광진구      69      51     18
동대문구     88      65     23
중랑구      49      39     10
성북구      63      54      9
강북구      68      61      7
도봉구      36      24     12
노원구      89      68     21
은평구     168     106     62
서대문구     40      31      9
마포구      54      40     14
양천구      77      67     10
강서구     101      89     12
구로구     228     132     96
금천구     100      59     41
영등포구     97      51     46
동작구      57      47     10
관악구     158      73     85
서초구      33      32      1
강남구      54      51      3
송파구      74      67      7
강동구      43      42      1

In [32]:
culture_ver2= culture.apply(lambda x : x/standard_df4['가구수']*10000)
culture_ver2

          다문화가족    국제결혼가정     외국인가정
시군구
강남구    1.330665  1.256740  0.073926
강동구    1.334094  1.303069  0.031025
강북구    2.887498  2.590256  0.297242
강서구    2.591578  2.283667  0.307910
관악구    3.560242  1.644922  1.915320
광진구    2.499457  1.847424  0.652032
구로구    7.541279  4.366003  3.175275
금천구    5.346278  3.154304  2.191974
노원구    2.248372  1.717857  0.530515
도봉구    1.507146  1.004764  0.502382
동대문구   3.348503  2.473326  0.875177
동작구    1.910879  1.575637  0.335242
마포구    1.875039  1.388918  0.486121
서대문구   1.741705  1.349821  0.391884
서초구    1.193361  1.157198  0.036162
성동구    1.914294  1.504088  0.410206
성북구    1.910840  1.637863  0.272977
송파구    1.666742  1.509077  0.157665
양천구    2.478195  2.156352  0.321844
영등포구   3.242716  1.704933  1.537783
용산구    4.755427  3.428331  1.327096
은평구    5.396827  3.405141  1.991686
종로구    6.249167  4.749367  1.499800
중구    10.968150  8.120650  2.847501
중랑구    1.675042  1.333197  0.341845

In [33]:
# 저장 후 주석처리
# culture_ver2.to_csv("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/서울_시군구_스케일링_다문화가족.csv")

In [34]:
# 12. 청소년비행 학교폭력 영향 데이터 불러오기(구)(고등학교 학생 수)
impact = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\경찰청_2021_서울_결측치처리_청소년비행_학교폭력_영향데이터.csv",index_col = 0)
impact

,신고년도,시도,시군구,총 신고 수,청소년비행신고수,학교폭력신고수,단란주점수,성인게임장수,술집수,유흥주점수,클럽수
0,2021,서울특별시,강남구,914,877,37,205.0,2.0,1976,166.0,52.0
1,2021,서울특별시,강동구,1256,1195,61,88.0,15.0,653,110.0,6.0
2,2021,서울특별시,강북구,817,778,39,86.0,28.0,632,64.0,8.0
3,2021,서울특별시,강서구,1789,1717,72,159.0,15.0,954,127.0,4.0
4,2021,서울특별시,관악구,961,917,44,80.0,64.0,952,186.0,16.0
5,2021,서울특별시,광진구,1026,984,42,71.0,7.0,834,14.0,5.0
6,2021,서울특별시,구로구,943,907,36,73.0,49.0,714,32.0,5.0
7,2021,서울특별시,금천구,576,548,28,68.0,15.0,467,46.0,4.0
8,2021,서울특별시,노원구,1463,1395,68,40.0,9.0,590,18.0,5.0
9,2021,서울특별시,도봉구,945,898,47,44.0,16.0,384,20.0,4.0
10,2021,서울특별시,동대문구,692,649,43,78.0,16.0,623,65.0,8.0
11,2021,서울특별시,동작구,787,765,22,35.0,4.0,574,46.0,0.0
12,2021,서울특별시,마포구,714,678,36,64.0,2.0,1928,49.0,51.0
13,2021,서울특별시,서대문구,662,638,24,42.0,5.0,637,27.0,4.0
14,2021,서울특별시,서초구,469,450,19,85.0,8.0,921,42.0,23.0
15,2021,서울특별시,성동구,621,603,18,37.0,15.0,568,22.0,0.0
16,2021,서울특별시,성북구,1042,1006,36,47.0,12.0,582,8.0,5.0
17,2021,서울특별시,송파구,1505,1431,74,139.0,10.0,1133,85.0,7.0
18,2021,서울특별시,양천구,975,916,59,64.0,6.0,572,4.0,0.0
19,2021,서울특별시,영등포구,724,694,30,194.0,17.0,980,135.0,12.0
20,2021,서울특별시,용산구,321,305,16,91.0,0.0,1068,21.0,48.0
21,2021,서울특별시,은평구,2502,2431,71,129.0,19.0,688,78.0,6.0
22,2021,서울특별시,종로구,126,118,8,103.0,17.0,906,178.0,3.0
23,2021,서울특별시,중구,324,307,17,60.0,7.0,755,213.0,4.0
24,2021,서울특별시,중랑구,1535,1473,62,94.0,9.0,686,17.0,2.0

In [35]:
impact = impact.iloc[:,2:10]
impact =  impact.set_index('시군구')
impact

      총 신고 수  청소년비행신고수  학교폭력신고수  단란주점수  성인게임장수   술집수  유흥주점수
시군구
강남구      914       877       37  205.0     2.0  1976  166.0
강동구     1256      1195       61   88.0    15.0   653  110.0
강북구      817       778       39   86.0    28.0   632   64.0
강서구     1789      1717       72  159.0    15.0   954  127.0
관악구      961       917       44   80.0    64.0   952  186.0
광진구     1026       984       42   71.0     7.0   834   14.0
구로구      943       907       36   73.0    49.0   714   32.0
금천구      576       548       28   68.0    15.0   467   46.0
노원구     1463      1395       68   40.0     9.0   590   18.0
도봉구      945       898       47   44.0    16.0   384   20.0
동대문구     692       649       43   78.0    16.0   623   65.0
동작구      787       765       22   35.0     4.0   574   46.0
마포구      714       678       36   64.0     2.0  1928   49.0
서대문구     662       638       24   42.0     5.0   637   27.0
서초구      469       450       19   85.0     8.0   921   42.0
성동구      621       603       18   37.0    15.0   568   22.0
성북구     1042      1006       36   47.0    12.0   582    8.0
송파구     1505      1431       74  139.0    10.0  1133   85.0
양천구      975       916       59   64.0     6.0   572    4.0
영등포구     724       694       30  194.0    17.0   980  135.0
용산구      321       305       16   91.0     0.0  1068   21.0
은평구     2502      2431       71  129.0    19.0   688   78.0
종로구      126       118        8  103.0    17.0   906  178.0
중구       324       307       17   60.0     7.0   755  213.0
중랑구     1535      1473       62   94.0     9.0   686   17.0

In [36]:
impact_ver2 = impact[['총 신고 수','청소년비행신고수','학교폭력신고수']]
impact_ver3 = impact[['단란주점수','성인게임장수','술집수','유흥주점수']]

In [37]:
impact_ver2_new= impact_ver2.apply(lambda x : x/standard_stud['대상 학생 수']*100)
impact_ver2_new

         총 신고 수   청소년비행신고수   학교폭력신고수
시군구
강남구    5.190528   4.980408  0.210120
강동구   11.701137  11.132849  0.568288
강북구   15.591603  14.847328  0.744275
강서구   12.627938  12.119715  0.508223
관악구   10.858757  10.361582  0.497175
광진구   14.039409  13.464696  0.574713
구로구   10.434879  10.036517  0.398362
금천구   14.841536  14.120072  0.721464
노원구    7.641283   7.286117  0.355166
도봉구   14.900662  14.159571  0.741091
동대문구  10.401323   9.754998  0.646325
동작구   13.658452  13.276640  0.381812
마포구   12.182221  11.567992  0.614230
서대문구  13.477199  12.988599  0.488599
서초구    4.915112   4.715992  0.199120
성동구   15.371287  14.925743  0.445545
성북구   13.003869  12.554599  0.449270
송파구   10.609051  10.087410  0.521641
양천구    8.067853   7.579644  0.488209
영등포구  12.750969  12.222614  0.528355
용산구    6.384248   6.066030  0.318218
은평구   20.486367  19.905019  0.581348
종로구    1.565023   1.465656  0.099367
중구     5.234249   4.959612  0.274637
중랑구   26.047853  24.995758  1.052096

In [38]:
# 저장 후 주석처리
# impact_ver2_new.to_csv("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/서울_시군구_스케일링_경찰청_학교폭력신고수.csv")

In [39]:
# 저장 후 주석처리
# impact_ver3.to_csv("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/서울_시군구_청소년유해업소.csv")

In [40]:
# 13. 112신고영향요소 데이터 불러오기(구)
## 사건종별가정폭력 : 구별가구수
## 사건종별데이트폭력 : 주민등록상인구수
notify = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\서울_시군구_112신고영향요소_학교폭력신고수.csv")
notify =  notify.set_index('시군구')
notify

            신고건수전체    사건종별가정폭력  사건종별데이트폭력       월평균소득금액     총상주인구수  학교폭력 신고 수
시군구
강남구    8916.875000   87.125000  62.416667  4.799007e+06   384267.0         40
강동구    8031.166667  151.166667  35.916667  3.336210e+06   494875.0         61
강북구    6647.083333  117.500000  33.750000  2.599556e+06   209798.0         43
강서구   10781.833333  198.750000  61.500000  3.165221e+06  1028629.0         79
관악구    9557.333333  134.166667  57.416667  2.782525e+06   494375.0         51
광진구    7545.750000  109.500000  32.583333  3.066952e+06   346546.0         48
구로구    7997.166667  136.500000  22.333333  2.890323e+06   478336.0         39
금천구    5956.000000  118.583333  26.666667  2.567770e+06   231850.0         28
노원구    8158.916667  197.083333  25.583333  3.193595e+06   523005.0         71
도봉구    4994.416667  141.333333  26.833333  2.713315e+06   325263.0         53
동대문구   7712.083333  107.583333  32.000000  3.011303e+06   373552.0         46
동작구    6399.000000   94.583333  18.833333  3.436506e+06   495828.0         25
마포구    9544.500000  106.166667  34.416667  4.022976e+06   978323.0         42
서대문구   6067.916667   80.416667  15.916667  3.943923e+06   511110.0         29
서초구    5167.708333   63.083333  15.000000  4.657076e+06   279720.5         25
성동구    5673.000000   61.333333  17.083333  3.535332e+06   394954.0         22
성북구    3414.125000   69.708333  10.416667  3.181782e+06   524983.5         39
송파구   11608.583333  204.750000  44.750000  3.969562e+06   758474.0         72
양천구    7344.500000  133.000000  18.583333  3.563309e+06   453832.0         69
영등포구  11047.500000   98.000000  25.583333  3.548012e+06  1103293.0         39
용산구    6080.833333   50.500000  21.750000  3.783427e+06   558137.0         14
은평구    3805.000000   78.791667  13.625000  2.984036e+06   288348.5         69
종로구    2427.388889   11.972222   4.944444  2.305023e+06   273631.0          8
중구     3105.166667   21.333333   7.083333  3.910224e+06   191910.0         17
중랑구    8354.500000  173.250000  47.666667  2.560383e+06   394574.0         73

In [41]:
notify_ver2 = notify[['사건종별가정폭력']]
notify_ver3 = notify[['사건종별데이트폭력']]
notify_ver4 = notify[['월평균소득금액']]

In [42]:
notify_ver4['월평균소득금액(십만)'] = notify_ver4['월평균소득금액']/100000
notify_ver4

C:\Users\ppi06\AppData\Local\Temp\ipykernel_17888\2507612013.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  notify_ver4['월평균소득금액(십만)'] = notify_ver4['월평균소득금액']/100000

           월평균소득금액  월평균소득금액(십만)
시군구
강남구   4.799007e+06    47.990070
강동구   3.336210e+06    33.362100
강북구   2.599556e+06    25.995560
강서구   3.165221e+06    31.652210
관악구   2.782525e+06    27.825250
광진구   3.066952e+06    30.669520
구로구   2.890323e+06    28.903230
금천구   2.567770e+06    25.677700
노원구   3.193595e+06    31.935950
도봉구   2.713315e+06    27.133150
동대문구  3.011303e+06    30.113030
동작구   3.436506e+06    34.365060
마포구   4.022976e+06    40.229760
서대문구  3.943923e+06    39.439230
서초구   4.657076e+06    46.570755
성동구   3.535332e+06    35.353320
성북구   3.181782e+06    31.817815
송파구   3.969562e+06    39.695620
양천구   3.563309e+06    35.633090
영등포구  3.548012e+06    35.480120
용산구   3.783427e+06    37.834270
은평구   2.984036e+06    29.840355
종로구   2.305023e+06    23.050233
중구    3.910224e+06    39.102235
중랑구   2.560383e+06    25.603830

In [43]:
notify_ver2_new= notify_ver2.apply(lambda x : x/standard_df4['가구수']*10000)
notify_ver2_new

      사건종별가정폭력
시군구
강남구   2.146930
강동구   4.690014
강북구   4.989427
강서구   5.099763
관악구   3.023202
광진구   3.966529
구로구   4.514844
금천구   6.339795
노원구   4.978838
도봉구   5.916945
동대문구  4.093672
동작구   3.170830
마포구   3.686419
서대문구  3.501553
서초구   2.281247
성동구   2.795477
성북구   2.114309
송파구   4.611694
양천구   4.280519
영등포구  3.276146
용산구   2.792431
은평구   2.531101
종로구   0.997552
중구    2.249877
중랑구   5.922469

In [44]:
notify_ver3_new= notify_ver3.apply(lambda x : x/standard_df3['주민등록상_인구']*10000)
notify_ver3_new

      사건종별데이트폭력
시군구
강남구    1.160593
강동구    0.769964
강북구    1.115470
강서구    1.060769
관악구    1.149600
광진구    0.924017
구로구    0.530278
금천구    1.088920
노원구    0.496816
도봉구    0.840188
동대문구   0.909075
동작구    0.477562
마포구    0.908844
서대문구   0.504236
서초구    0.360432
성동구    0.583702
성북구    0.236666
송파구    0.673981
양천구    0.412517
영등포구   0.638135
용산구    0.916619
은평구    0.285536
종로구    0.321508
중구     0.537483
중랑구    1.216343

In [45]:
# 저장 후 주석처리
# notify_ver2_new.to_csv("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/서울_시군구_스케일링_경찰청_112신고영향요소_가정폭력.csv")

In [46]:
# 저장 후 주석처리
# notify_ver3_new.to_csv("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/서울_시군구_스케일링_경찰청_112신고영향요소_데이트폭력.csv")

In [47]:
# 저장 후 주석처리
# notify_ver4.to_csv("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/서울_시군구_경찰청_월평균소득금액.csv")

In [48]:
# 14. 남녀공학구분명 데이터 불러오기(구)->비율
high_school_df1 = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\서울특별시_남녀공학구분명.csv")
high_school_df1 =  high_school_df1.set_index('시군구')
high_school_df1

      남고  남녀공학  여고
시군구
강남구    7    11   4
강동구    2    10   2
강북구    1     3   3
강서구    7    10   6
관악구    2    11   4
광진구    1     6   2
구로구    1    11   2
금천구    1     3   2
노원구    6    12   7
도봉구    1     7   2
동대문구   3     3   5
동작구    3     2   2
마포구    3     3   3
서대문구   2     4   1
서초구    3     5   3
성동구    0     8   1
성북구    4     6   3
송파구    4    10   5
양천구    4     6   5
영등포구   2     5   2
용산구    3     4   3
은평구    3     9   6
종로구    5     6   3
중구     4     3   4
중랑구    2     4   4

In [49]:
high_school_df1_ver2 = high_school_df1.apply(lambda x : x/standard_scho['학교 수']*100)
high_school_df1_ver2

             남고       남녀공학         여고
시군구
강남구   31.818182  50.000000  18.181818
강동구   14.285714  71.428571  14.285714
강북구   14.285714  42.857143  42.857143
강서구   30.434783  43.478261  26.086957
관악구   11.764706  64.705882  23.529412
광진구   11.111111  66.666667  22.222222
구로구    7.142857  78.571429  14.285714
금천구   16.666667  50.000000  33.333333
노원구   24.000000  48.000000  28.000000
도봉구   10.000000  70.000000  20.000000
동대문구  27.272727  27.272727  45.454545
동작구   42.857143  28.571429  28.571429
마포구   33.333333  33.333333  33.333333
서대문구  28.571429  57.142857  14.285714
서초구   27.272727  45.454545  27.272727
성동구    0.000000  88.888889  11.111111
성북구   30.769231  46.153846  23.076923
송파구   21.052632  52.631579  26.315789
양천구   26.666667  40.000000  33.333333
영등포구  22.222222  55.555556  22.222222
용산구   30.000000  40.000000  30.000000
은평구   16.666667  50.000000  33.333333
종로구   35.714286  42.857143  21.428571
중구    36.363636  27.272727  36.363636
중랑구   20.000000  40.000000  40.000000

In [50]:
# 저장 후 주석처리
# high_school_df1_ver2.to_csv("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/서울특별시_스케일링_남녀공학구분명.csv")

In [51]:
# 15. 고등학교구분명 데이터 불러오기(구)->비율
high_school_df2 = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\서울특별시_고등학교구분명.csv")
high_school_df2 =  high_school_df2.set_index('시군구')
high_school_df2

      일반고  특성화고  자율고  특목고
시군구
강남구    14     3    3    2
강동구    10     1    1    2
강북구     4     2    0    1
강서구    14     1    2    6
관악구    11     1    1    4
광진구     6     1    2    0
구로구     6     2    2    4
금천구     4     0    1    1
노원구    16     1    0    8
도봉구     6     1    1    2
동대문구    5     3    0    3
동작구     6     0    0    1
마포구     3     3    0    3
서대문구    5     1    1    0
서초구     8     2    0    1
성동구     4     2    0    3
성북구     8     1    2    2
송파구    15     1    1    2
양천구    10     2    0    3
영등포구    6     2    0    1
용산구     6     1    0    3
은평구    10     1    0    7
종로구     6     2    3    3
중구      2     2    1    6
중랑구     6     2    0    2

In [52]:
high_school_df2_ver2 = high_school_df2.apply(lambda x : x/standard_scho['학교 수']*100)
high_school_df2_ver2

            일반고       특성화고        자율고        특목고
시군구
강남구   63.636364  13.636364  13.636364   9.090909
강동구   71.428571   7.142857   7.142857  14.285714
강북구   57.142857  28.571429   0.000000  14.285714
강서구   60.869565   4.347826   8.695652  26.086957
관악구   64.705882   5.882353   5.882353  23.529412
광진구   66.666667  11.111111  22.222222   0.000000
구로구   42.857143  14.285714  14.285714  28.571429
금천구   66.666667   0.000000  16.666667  16.666667
노원구   64.000000   4.000000   0.000000  32.000000
도봉구   60.000000  10.000000  10.000000  20.000000
동대문구  45.454545  27.272727   0.000000  27.272727
동작구   85.714286   0.000000   0.000000  14.285714
마포구   33.333333  33.333333   0.000000  33.333333
서대문구  71.428571  14.285714  14.285714   0.000000
서초구   72.727273  18.181818   0.000000   9.090909
성동구   44.444444  22.222222   0.000000  33.333333
성북구   61.538462   7.692308  15.384615  15.384615
송파구   78.947368   5.263158   5.263158  10.526316
양천구   66.666667  13.333333   0.000000  20.000000
영등포구  66.666667  22.222222   0.000000  11.111111
용산구   60.000000  10.000000   0.000000  30.000000
은평구   55.555556   5.555556   0.000000  38.888889
종로구   42.857143  14.285714  21.428571  21.428571
중구    18.181818  18.181818   9.090909  54.545455
중랑구   60.000000  20.000000   0.000000  20.000000

In [53]:
# 저장 후 주석처리
# high_school_df2_ver2.to_csv("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/서울특별시_스케일링_고등학교구분명.csv")

In [54]:
# 16. 고등학교일반실업구분명 데이터 불러오기(구)->비율
high_school_df3 = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\서울특별시_고등학교일반실업구분명.csv")
high_school_df3 =  high_school_df3.set_index('시군구')
high_school_df3

      일반계  전문계
시군구
강남구    18    4
강동구    12    2
강북구     6    1
강서구    17    6
관악구    12    5
광진구     9    0
구로구    10    4
금천구     5    1
노원구    17    8
도봉구     8    2
동대문구    8    3
동작구     6    1
마포구     6    3
서대문구    7    0
서초구    10    1
성동구     6    3
성북구    10    3
송파구    17    2
양천구    12    3
영등포구    8    1
용산구     7    3
은평구    11    7
종로구    11    3
중구      5    6
중랑구     8    2

In [ ]:
high_school_df3_ver2 = high_school_df3.apply(lambda x : x/standard_scho['학교 수']*100)
high_school_df3_ver2

In [ ]:
# 저장 후 주석처리
# high_school_df3_ver2.to_csv("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/서울특별시_스케일링_고등학교일반실업구분명.csv")

In [ ]:
# 17. 500m_경찰서수
count1 = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\학교500m_경찰서_개수_Ver2.csv")
count1

In [ ]:
# 18. 500m_유흥업소수
count2 = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\학교500이내_유해업소수_Ver2.csv",index_col = 0)
count2

In [ ]:
# 19. 500m_cctv수
count3 = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\학교500m_cctv_개수_Ver2.csv")
count3

# 데이터 합치기

In [1]:
import pandas as pd
import numpy as np
from functools import reduce

In [2]:
# 1. 학교정보 데이터 불러오기 
school = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\나이스_서울_전체_위경도_학교기본정보_Ver2.csv",index_col = 0)
school

,시도교육청코드,시도교육청명,표준학교코드,학교명,영문학교명,학교종류명,소재지명,시군구,관할조직명,설립명,...,산업체특별학급존재여부,고등학교일반실업구분명,특수목적고등학교계열명,입시전후기구분명,주야구분명,설립일자,개교기념일,수정일,위도,경도
0,B10,서울특별시교육청,7010057,가락고등학교,Garak High School,고등학교,서울특별시,송파구,서울특별시교육청,공립,...,N,일반계,NaN,후기,주간,19881223,19890428,20230115,37.501076,127.116426
1,B10,서울특별시교육청,7011169,가재울고등학교,Gajaeul High School,고등학교,서울특별시,서대문구,서울특별시교육청,공립,...,N,일반계,NaN,후기,주간,20130301,20130501,20230115,37.574364,126.909530
2,B10,서울특별시교육청,7010117,강동고등학교,Kangdong High School,고등학교,서울특별시,강동구,서울특별시교육청,사립,...,N,일반계,NaN,후기,주간,19841217,19850908,20230115,37.549917,127.160668
3,B10,서울특별시교육청,7010118,강서고등학교,Gangseo High School,고등학교,서울특별시,양천구,서울특별시교육청,사립,...,N,일반계,NaN,후기,주간,19831101,19831101,20230115,37.536316,126.865771
4,B10,서울특별시교육청,7010270,강서공업고등학교,Gangseo Technical High School,고등학교,서울특별시,강서구,서울특별시교육청,공립,...,N,전문계,NaN,전기,주간,19940105,19940105,20230115,37.576034,126.816182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,B10,서울특별시교육청,7010766,효문고등학교,Hyomun High School,고등학교,서울특별시,도봉구,서울특별시교육청,공립,...,N,일반계,NaN,후기,주간,20051229,20060605,20230115,37.652699,127.018400
316,B10,서울특별시교육청,7010292,휘경공업고등학교,Hwigyeong Technical High School,고등학교,서울특별시,동대문구,서울특별시교육청,공립,...,N,전문계,NaN,전기,주간,19971220,19980702,20230115,37.585153,127.069451
317,B10,서울특별시교육청,7010267,휘경여자고등학교,Hwikyung Girls` High School,고등학교,서울특별시,동대문구,서울특별시교육청,사립,...,N,일반계,NaN,후기,주간,19750303,19750519,20230115,37.581901,127.067434
318,B10,서울특별시교육청,7010268,휘문고등학교,Whimoon High School,고등학교,서울특별시,강남구,서울특별시교육청,사립,...,N,일반계,NaN,전기,주간,19060501,19060501,20230115,37.505289,127.061994
319,B10,서울특별시교육청,7011113,휘봉고등학교,HWIBONG High School,고등학교,서울특별시,동대문구,서울특별시교육청,공립,...,N,일반계,NaN,후기,주간,20120106,20120501,20230115,37.586372,127.068941

In [3]:
# 2. 학교폭력피해장소 데이터 불러오기 
place = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\학교알리미_2021_서울_학교별_스케일링_학교폭력피해장소.csv")
place.rename(columns = {'기타':'피해장소_기타'},inplace=True)
place

,학교명,교실안,"특별실,방과후 교실 등","복도,계단",화장실,"운동장,체육관,강당 등","급식실,매점 등",기숙사,학원이나학원 근처,집이나집 근처,"PC방,노래방,오락실 등","공원, 놀이터,골목, 공터,뒷산 등",학교 밖체험활동 장소,사이버공간,피해장소_기타
0,개포고등학교,0.500000,0.0,0.500000,0.0,0.5,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,1.0,0.0
1,경기고등학교,0.666667,0.0,0.333333,0.0,0.0,0.0,0.0,0.0,0.333333,0.0,0.0,0.0,0.0,0.0
2,경기여자고등학교,1.000000,0.0,1.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
3,국립국악고등학교,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
4,단국대학교부속소프트웨어고등학교,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,원묵고등학교,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
316,이화여자대학교병설미디어고등학교,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
317,중화고등학교,0.500000,0.5,0.500000,0.0,0.0,0.0,0.0,0.0,0.000000,0.5,0.5,0.0,0.0,0.0
318,태릉고등학교,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,1.0,0.0
319,혜원여자고등학교,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0

In [4]:
# 3. 학교폭력피해유형 데이터 불러오기 
typedf = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\학교알리미_2021_서울_학교별_스케일링_학교폭력피해유형.csv")
typedf.rename(columns = {'기타':'피해유형_기타'},inplace=True)
typedf

                  학교명   강요      금품갈취      신체폭력  사이버폭력     집단따돌림   피해유형_기타
0              개포고등학교  0.0  0.000000  0.000000    1.0  0.500000  0.000000
1              경기고등학교  0.0  0.666667  0.666667    0.0  0.333333  0.333333
2            경기여자고등학교  0.0  0.000000  0.000000    0.0  0.000000  1.000000
3            국립국악고등학교  0.0  0.000000  0.000000    0.0  0.000000  0.000000
4    단국대학교부속소프트웨어고등학교  0.0  0.000000  0.000000    0.0  0.000000  0.000000
..                ...  ...       ...       ...    ...       ...       ...
315            원묵고등학교  0.0  0.000000  0.000000    0.0  0.000000  0.000000
316  이화여자대학교병설미디어고등학교  0.0  0.000000  0.000000    0.0  0.000000  0.000000
317            중화고등학교  0.0  0.500000  0.500000    0.0  0.000000  0.500000
318            태릉고등학교  1.0  0.000000  1.000000    1.0  1.000000  2.000000
319          혜원여자고등학교  0.0  0.000000  0.000000    0.0  0.000000  0.000000

[320 rows x 7 columns]

In [5]:
# 4. 학교폭력피해시간 데이터 불러오기 
time = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\학교알리미_2021_서울_학교별_스케일링_학교폭력피해시간.csv")
time.rename(columns = {'기타':'피해시간_기타'},inplace=True)
time

,학교명,등교시간,수업시간,쉬는시간,점심시간,학교 안방과후 시간,하교시간,학교 밖체험활동 시간,학교 일과가끝난 후,피해시간_기타
0,개포고등학교,0.000000,0.000000,0.500000,0.000000,0.000000,0.500000,0.000000,1.0,0.0
1,경기고등학교,0.333333,0.333333,0.666667,0.666667,0.333333,0.333333,0.333333,0.0,0.0
2,경기여자고등학교,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.0,0.0
3,국립국악고등학교,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
4,단국대학교부속소프트웨어고등학교,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
315,원묵고등학교,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
316,이화여자대학교병설미디어고등학교,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
317,중화고등학교,0.000000,0.500000,0.500000,0.500000,0.000000,0.000000,0.000000,0.5,0.0
318,태릉고등학교,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,1.0
319,혜원여자고등학교,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0

In [6]:
# 5. 학교폭력교육시간 데이터 불러오기 
edu = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\학교알리미_2021_서울_학교폭력교육시간.csv")
edu

     시군구               학교명  평균 교육 시간(1학급당)
0    강남구            개포고등학교          126.40
1    강남구            경기고등학교           38.10
2    강남구          경기여자고등학교          200.00
3    강남구          국립국악고등학교          113.00
4    강남구  단국대학교부속소프트웨어고등학교          262.50
..   ...               ...             ...
315  중랑구            원묵고등학교           13.25
316  중랑구  이화여자대학교병설미디어고등학교          100.00
317  중랑구            중화고등학교          626.40
318  중랑구            태릉고등학교           44.40
319  중랑구          혜원여자고등학교          111.50

[320 rows x 3 columns]

In [7]:
# 6. 학교폭력실태조사참여현황 데이터 불러오기 
violence_count = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\학교알리미_2021_서울_학교별_스케일링_학교폭력실태조사_참여현황.csv")
violence_count

                  학교명  피해 응답 학생 수
0              개포고등학교    0.312500
1              경기고등학교    0.272727
2            경기여자고등학교    0.091324
3            국립국악고등학교    0.000000
4    단국대학교부속소프트웨어고등학교    0.000000
..                ...         ...
315            원묵고등학교    0.000000
316  이화여자대학교병설미디어고등학교    0.000000
317            중화고등학교    0.369004
318            태릉고등학교    0.141243
319          혜원여자고등학교    0.000000

[320 rows x 2 columns]

In [8]:
# 7. 학교폭력피해신고현황 데이터 불러오기 
noti = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\학교알리미_2021_서울_학교별_스케일링_학교폭력피해신고현황.csv")
noti

,학교명,나의보호자나친척,학교선생님,학교상담실선생님,학교폭력신고함이나학교 익명게시판,친구나선·후배,"학교전담경찰관,경찰",117학교폭력신고센터,학교 밖상담 기관,아무에게도알리지않음
0,개포고등학교,10.000000,10.000000,0.000000,0.0,20.000000,10.000000,0.0,0.0,0.000000
1,경기고등학교,8.333333,8.333333,4.166667,0.0,4.166667,4.166667,0.0,0.0,4.166667
2,경기여자고등학교,33.300000,33.300000,0.000000,0.0,33.300000,0.000000,0.0,0.0,0.000000
3,국립국악고등학교,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000
4,단국대학교부속소프트웨어고등학교,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...
315,원묵고등학교,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000
316,이화여자대학교병설미디어고등학교,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000
317,중화고등학교,25.000000,0.000000,0.000000,0.0,25.000000,0.000000,0.0,0.0,0.000000
318,태릉고등학교,0.000000,0.000000,0.000000,0.0,100.000000,0.000000,0.0,0.0,0.000000
319,혜원여자고등학교,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000

In [9]:
# 8. 한부모가족 데이터 불러오기 
single = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\서울_시군구_저소득_스케일링_한부모가족.csv")
single

     시군구  한부모가족지원법수급자_재가보호_가구원수  국민기초생활보장법수급자_가구원수
0    강남구               6.136110          30.717739
1    강동구              14.148759          48.663157
2    강북구              30.076381         100.640197
3    강서구              20.076996          67.130300
4    관악구              13.034364          52.357698
5    광진구              16.504692          57.369402
6    구로구              15.837099          51.975126
7    금천구              25.154048          76.483007
8    노원구              15.516190          82.960155
9    도봉구              27.773168          85.260808
10  동대문구              17.442884          53.493406
11   동작구               9.306123          37.655567
12   마포구              12.781038          35.385517
13  서대문구              16.758591          47.709712
14   서초구               6.367636          22.803346
15   성동구              11.548764          37.516401
16   성북구              15.267800          53.437300
17   송파구              10.587907          41.944982
18   양천구              15.982703          58.270272
19  영등포구               9.553314          25.866284
20   용산구              10.662284          37.886929
21   은평구              18.022814          72.719957
22   종로구              17.296426          27.635267
23    중구              17.528284          38.926449
24   중랑구              26.844610          98.421731

In [10]:
# 9. 소득인식수준 데이터 불러오기 
income_recog = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\구별_소득_분석.csv")
income_recog

     시군구   저소득    중간   고소득
0    강남구  20.4  44.9  34.7
1    강동구  27.6  52.6  19.8
2    강북구  23.6  52.9  23.4
3    강서구  20.1  62.7  17.2
4    관악구  22.0  58.0  20.0
5    광진구  23.9  53.1  23.0
6    구로구  22.4  51.1  26.5
7    금천구  20.8  61.0  18.2
8    노원구  35.8  45.7  18.5
9    도봉구  14.0  56.2  29.7
10  동대문구  31.6  46.3  22.0
11   동작구  30.0  53.1  17.0
12   마포구  16.5  53.7  29.8
13  서대문구  32.8  46.9  20.2
14   서초구  11.9  52.8  35.2
15   성동구  19.6  47.1  33.3
16   성북구  11.8  49.3  38.8
17   송파구  16.8  61.9  21.3
18   양천구  23.7  62.8  13.5
19  영등포구  20.3  39.2  40.5
20   용산구  24.1  52.7  23.2
21   은평구  22.7  53.4  23.9
22   종로구   8.3  38.2  53.5
23    중구  32.6  35.2  32.2
24   중랑구  16.0  58.5  25.6

In [11]:
# 10. 고등학생 생활인구 데이터 불러오기 
population = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\서울_고등학생_생활인구.csv")
population

     시군구         생활인구수
0    강남구  48676.127803
1    강동구  27374.426865
2    강북구  13911.170469
3    강서구  25021.582465
4    관악구  19952.671005
5    광진구  19000.533999
6    구로구  16309.434611
7    금천구   7227.987055
8    노원구  36871.061608
9    도봉구  13943.602835
10  동대문구  17030.839962
11   동작구  17785.616206
12   마포구  21285.109796
13  서대문구  18487.645125
14   서초구  29702.207732
15   성동구  14306.989054
16   성북구  25225.850931
17   송파구  38980.609572
18   양천구  28477.439260
19  영등포구  16163.857961
20   용산구  11044.254429
21   은평구  23977.017523
22   종로구  12087.180861
23    중구   6470.685258
24   중랑구  15203.731721

In [12]:
# 11. 다문화가족 데이터 불러오기 
culture = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\서울_시군구_스케일링_다문화가족.csv")
culture

     시군구      다문화가족    국제결혼가정     외국인가정
0    강남구   1.330665  1.256740  0.073926
1    강동구   1.334094  1.303069  0.031025
2    강북구   2.887498  2.590256  0.297242
3    강서구   2.591578  2.283667  0.307910
4    관악구   3.560242  1.644922  1.915320
5    광진구   2.499457  1.847424  0.652032
6    구로구   7.541279  4.366003  3.175275
7    금천구   5.346278  3.154304  2.191974
8    노원구   2.248372  1.717857  0.530515
9    도봉구   1.507146  1.004764  0.502382
10  동대문구   3.348503  2.473326  0.875177
11   동작구   1.910879  1.575637  0.335242
12   마포구   1.875039  1.388918  0.486121
13  서대문구   1.741705  1.349821  0.391884
14   서초구   1.193361  1.157198  0.036162
15   성동구   1.914294  1.504088  0.410206
16   성북구   1.910840  1.637863  0.272977
17   송파구   1.666742  1.509077  0.157665
18   양천구   2.478195  2.156352  0.321844
19  영등포구   3.242716  1.704933  1.537783
20   용산구   4.755427  3.428331  1.327096
21   은평구   5.396827  3.405141  1.991686
22   종로구   6.249167  4.749367  1.499800
23    중구  10.968150  8.120650  2.847501
24   중랑구   1.675042  1.333197  0.341845

In [13]:
# 12. 청소년유해업소 데이터 불러오기 
bad = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\서울_시군구_청소년유해업소.csv")
bad

     시군구  단란주점수  성인게임장수   술집수  유흥주점수
0    강남구  205.0     2.0  1976  166.0
1    강동구   88.0    15.0   653  110.0
2    강북구   86.0    28.0   632   64.0
3    강서구  159.0    15.0   954  127.0
4    관악구   80.0    64.0   952  186.0
5    광진구   71.0     7.0   834   14.0
6    구로구   73.0    49.0   714   32.0
7    금천구   68.0    15.0   467   46.0
8    노원구   40.0     9.0   590   18.0
9    도봉구   44.0    16.0   384   20.0
10  동대문구   78.0    16.0   623   65.0
11   동작구   35.0     4.0   574   46.0
12   마포구   64.0     2.0  1928   49.0
13  서대문구   42.0     5.0   637   27.0
14   서초구   85.0     8.0   921   42.0
15   성동구   37.0    15.0   568   22.0
16   성북구   47.0    12.0   582    8.0
17   송파구  139.0    10.0  1133   85.0
18   양천구   64.0     6.0   572    4.0
19  영등포구  194.0    17.0   980  135.0
20   용산구   91.0     0.0  1068   21.0
21   은평구  129.0    19.0   688   78.0
22   종로구  103.0    17.0   906  178.0
23    중구   60.0     7.0   755  213.0
24   중랑구   94.0     9.0   686   17.0

In [14]:
# 13. 경찰청 학교폭력신고수 데이터 불러오기 
police_violence_count = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\서울_시군구_스케일링_경찰청_학교폭력신고수.csv")
police_violence_count

     시군구     총 신고 수   청소년비행신고수   학교폭력신고수
0    강남구   5.190528   4.980408  0.210120
1    강동구  11.701137  11.132849  0.568288
2    강북구  15.591603  14.847328  0.744275
3    강서구  12.627938  12.119715  0.508223
4    관악구  10.858757  10.361582  0.497175
5    광진구  14.039409  13.464696  0.574713
6    구로구  10.434879  10.036517  0.398362
7    금천구  14.841536  14.120072  0.721464
8    노원구   7.641283   7.286117  0.355166
9    도봉구  14.900662  14.159571  0.741091
10  동대문구  10.401323   9.754998  0.646325
11   동작구  13.658452  13.276640  0.381812
12   마포구  12.182221  11.567992  0.614230
13  서대문구  13.477199  12.988599  0.488599
14   서초구   4.915112   4.715992  0.199120
15   성동구  15.371287  14.925743  0.445545
16   성북구  13.003869  12.554599  0.449270
17   송파구  10.609051  10.087410  0.521641
18   양천구   8.067853   7.579644  0.488209
19  영등포구  12.750969  12.222614  0.528355
20   용산구   6.384248   6.066030  0.318218
21   은평구  20.486367  19.905019  0.581348
22   종로구   1.565023   1.465656  0.099367
23    중구   5.234249   4.959612  0.274637
24   중랑구  26.047853  24.995758  1.052096

In [15]:
# 14. 경찰청 가정폭력 데이터 불러오기 
domestic = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\서울_시군구_스케일링_경찰청_112신고영향요소_가정폭력.csv")
domestic

     시군구  사건종별가정폭력
0    강남구  2.146930
1    강동구  4.690014
2    강북구  4.989427
3    강서구  5.099763
4    관악구  3.023202
5    광진구  3.966529
6    구로구  4.514844
7    금천구  6.339795
8    노원구  4.978838
9    도봉구  5.916945
10  동대문구  4.093672
11   동작구  3.170830
12   마포구  3.686419
13  서대문구  3.501553
14   서초구  2.281247
15   성동구  2.795477
16   성북구  2.114309
17   송파구  4.611694
18   양천구  4.280519
19  영등포구  3.276146
20   용산구  2.792431
21   은평구  2.531101
22   종로구  0.997552
23    중구  2.249877
24   중랑구  5.922469

In [16]:
# 15. 경찰청 데이트폭력 데이터 불러오기 
dating = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\서울_시군구_스케일링_경찰청_112신고영향요소_데이트폭력.csv")
dating

     시군구  사건종별데이트폭력
0    강남구   1.160593
1    강동구   0.769964
2    강북구   1.115470
3    강서구   1.060769
4    관악구   1.149600
5    광진구   0.924017
6    구로구   0.530278
7    금천구   1.088920
8    노원구   0.496816
9    도봉구   0.840188
10  동대문구   0.909075
11   동작구   0.477562
12   마포구   0.908844
13  서대문구   0.504236
14   서초구   0.360432
15   성동구   0.583702
16   성북구   0.236666
17   송파구   0.673981
18   양천구   0.412517
19  영등포구   0.638135
20   용산구   0.916619
21   은평구   0.285536
22   종로구   0.321508
23    중구   0.537483
24   중랑구   1.216343

In [17]:
# 16. 경찰청 월평균소득금액 데이터 불러오기 
income = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\서울_시군구_경찰청_월평균소득금액.csv")
income

     시군구       월평균소득금액  월평균소득금액(십만)
0    강남구  4.799007e+06    47.990070
1    강동구  3.336210e+06    33.362100
2    강북구  2.599556e+06    25.995560
3    강서구  3.165221e+06    31.652210
4    관악구  2.782525e+06    27.825250
5    광진구  3.066952e+06    30.669520
6    구로구  2.890323e+06    28.903230
7    금천구  2.567770e+06    25.677700
8    노원구  3.193595e+06    31.935950
9    도봉구  2.713315e+06    27.133150
10  동대문구  3.011303e+06    30.113030
11   동작구  3.436506e+06    34.365060
12   마포구  4.022976e+06    40.229760
13  서대문구  3.943923e+06    39.439230
14   서초구  4.657076e+06    46.570755
15   성동구  3.535332e+06    35.353320
16   성북구  3.181782e+06    31.817815
17   송파구  3.969562e+06    39.695620
18   양천구  3.563309e+06    35.633090
19  영등포구  3.548012e+06    35.480120
20   용산구  3.783427e+06    37.834270
21   은평구  2.984036e+06    29.840355
22   종로구  2.305023e+06    23.050233
23    중구  3.910224e+06    39.102235
24   중랑구  2.560383e+06    25.603830

In [18]:
# 17. 남녀공학구분명 데이터 불러오기 
school_coed = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\서울특별시_스케일링_남녀공학구분명.csv")
school_coed

     시군구         남고       남녀공학         여고
0    강남구  31.818182  50.000000  18.181818
1    강동구  14.285714  71.428571  14.285714
2    강북구  14.285714  42.857143  42.857143
3    강서구  30.434783  43.478261  26.086957
4    관악구  11.764706  64.705882  23.529412
5    광진구  11.111111  66.666667  22.222222
6    구로구   7.142857  78.571429  14.285714
7    금천구  16.666667  50.000000  33.333333
8    노원구  24.000000  48.000000  28.000000
9    도봉구  10.000000  70.000000  20.000000
10  동대문구  27.272727  27.272727  45.454545
11   동작구  42.857143  28.571429  28.571429
12   마포구  33.333333  33.333333  33.333333
13  서대문구  28.571429  57.142857  14.285714
14   서초구  27.272727  45.454545  27.272727
15   성동구   0.000000  88.888889  11.111111
16   성북구  30.769231  46.153846  23.076923
17   송파구  21.052632  52.631579  26.315789
18   양천구  26.666667  40.000000  33.333333
19  영등포구  22.222222  55.555556  22.222222
20   용산구  30.000000  40.000000  30.000000
21   은평구  16.666667  50.000000  33.333333
22   종로구  35.714286  42.857143  21.428571
23    중구  36.363636  27.272727  36.363636
24   중랑구  20.000000  40.000000  40.000000

In [19]:
# 18. 고등학교구분명 데이터 불러오기 
school_sepa = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\서울특별시_스케일링_고등학교구분명.csv")
school_sepa

     시군구        일반고       특성화고        자율고        특목고
0    강남구  63.636364  13.636364  13.636364   9.090909
1    강동구  71.428571   7.142857   7.142857  14.285714
2    강북구  57.142857  28.571429   0.000000  14.285714
3    강서구  60.869565   4.347826   8.695652  26.086957
4    관악구  64.705882   5.882353   5.882353  23.529412
5    광진구  66.666667  11.111111  22.222222   0.000000
6    구로구  42.857143  14.285714  14.285714  28.571429
7    금천구  66.666667   0.000000  16.666667  16.666667
8    노원구  64.000000   4.000000   0.000000  32.000000
9    도봉구  60.000000  10.000000  10.000000  20.000000
10  동대문구  45.454545  27.272727   0.000000  27.272727
11   동작구  85.714286   0.000000   0.000000  14.285714
12   마포구  33.333333  33.333333   0.000000  33.333333
13  서대문구  71.428571  14.285714  14.285714   0.000000
14   서초구  72.727273  18.181818   0.000000   9.090909
15   성동구  44.444444  22.222222   0.000000  33.333333
16   성북구  61.538462   7.692308  15.384615  15.384615
17   송파구  78.947368   5.263158   5.263158  10.526316
18   양천구  66.666667  13.333333   0.000000  20.000000
19  영등포구  66.666667  22.222222   0.000000  11.111111
20   용산구  60.000000  10.000000   0.000000  30.000000
21   은평구  55.555556   5.555556   0.000000  38.888889
22   종로구  42.857143  14.285714  21.428571  21.428571
23    중구  18.181818  18.181818   9.090909  54.545455
24   중랑구  60.000000  20.000000   0.000000  20.000000

In [20]:
# 19. 고등학교일반실업구분명 데이터 불러오기 
school_gene = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\서울특별시_스케일링_고등학교일반실업구분명.csv")
school_gene

     시군구         일반계        전문계
0    강남구   81.818182  18.181818
1    강동구   85.714286  14.285714
2    강북구   85.714286  14.285714
3    강서구   73.913043  26.086957
4    관악구   70.588235  29.411765
5    광진구  100.000000   0.000000
6    구로구   71.428571  28.571429
7    금천구   83.333333  16.666667
8    노원구   68.000000  32.000000
9    도봉구   80.000000  20.000000
10  동대문구   72.727273  27.272727
11   동작구   85.714286  14.285714
12   마포구   66.666667  33.333333
13  서대문구  100.000000   0.000000
14   서초구   90.909091   9.090909
15   성동구   66.666667  33.333333
16   성북구   76.923077  23.076923
17   송파구   89.473684  10.526316
18   양천구   80.000000  20.000000
19  영등포구   88.888889  11.111111
20   용산구   70.000000  30.000000
21   은평구   61.111111  38.888889
22   종로구   78.571429  21.428571
23    중구   45.454545  54.545455
24   중랑구   80.000000  20.000000

In [21]:
# 20. 500m 경찰서개수 데이터 불러오기 
police_count_500m = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\학교500m_경찰서_개수_Ver2.csv")
police_count_500m = police_count_500m[['학교명','500m_inner_police_dept']]
police_count_500m

          학교명  500m_inner_police_dept
0      가락고등학교                       0
1     가재울고등학교                       0
2      강동고등학교                       0
3      강서고등학교                       1
4    강서공업고등학교                       1
..        ...                     ...
315    효문고등학교                       0
316  휘경공업고등학교                       1
317  휘경여자고등학교                       1
318    휘문고등학교                       0
319    휘봉고등학교                       1

[320 rows x 2 columns]

In [22]:
# 21. 500m cctv개수 데이터 불러오기 
cctv_count_500m = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\학교500m_cctv_개수_Ver2.csv")
cctv_count_500m =  cctv_count_500m[['학교명','500m_inner_cctv']]
cctv_count_500m

          학교명  500m_inner_cctv
0      가락고등학교              102
1     가재울고등학교              137
2      강동고등학교               51
3      강서고등학교              299
4    강서공업고등학교               98
..        ...              ...
315    효문고등학교              109
316  휘경공업고등학교               99
317  휘경여자고등학교              136
318    휘문고등학교              191
319    휘봉고등학교               89

[320 rows x 2 columns]

In [23]:
# 22. 500m 유해업소개수 데이터 불러오기 
a_count_500m = pd.read_csv("C:\sooeun\DATAexam\ConvergenceProject-School_Violence\Data\학교500이내_유해업소수_Ver2.csv")
a_count_500m =  a_count_500m[['학교명','500m_inner_Harmful_dept']]
a_count_500m

          학교명  500m_inner_Harmful_dept
0      가락고등학교                        0
1     가재울고등학교                        0
2      강동고등학교                        0
3      강서고등학교                        0
4    강서공업고등학교                        1
..        ...                      ...
315    효문고등학교                        0
316  휘경공업고등학교                        0
317  휘경여자고등학교                        1
318    휘문고등학교                        0
319    휘봉고등학교                        0

[320 rows x 2 columns]

In [24]:
data1 = pd.merge(school, place, on=['학교명'], how='outer', sort=True)
data2 = pd.merge(data1, typedf, on=['학교명'], how='outer', sort=True)
data3 = pd.merge(data2, time, on=['학교명'], how='outer', sort=True)
data4 = pd.merge(data3, edu, on=['시군구','학교명'], how='outer', sort=True)
data5 = pd.merge(data4, noti, on=['학교명'], how='outer', sort=True)
data6 = pd.merge(data5, violence_count, on=['학교명'], how='outer', sort=True)
data7 = pd.merge(data6, single, on=['시군구'], how='outer', sort=True)
data8 = pd.merge(data7, income_recog, on=['시군구'], how='outer', sort=True)
data9 = pd.merge(data8, population, on=['시군구'], how='outer', sort=True)
data10 = pd.merge(data9, culture, on=['시군구'], how='outer', sort=True)
data11 = pd.merge(data10, bad, on=['시군구'], how='outer', sort=True)
data12 = pd.merge(data11, police_violence_count, on=['시군구'], how='outer', sort=True)
data13 = pd.merge(data12, domestic, on=['시군구'], how='outer', sort=True)
data14 = pd.merge(data13, dating, on=['시군구'], how='outer', sort=True)
data15 = pd.merge(data14, income, on=['시군구'], how='outer', sort=True)
data16 = pd.merge(data15, school_coed, on=['시군구'], how='outer', sort=True)
data17 = pd.merge(data16, school_sepa, on=['시군구'], how='outer', sort=True)
data18 = pd.merge(data17, school_gene, on=['시군구'], how='outer', sort=True)
data19 = pd.merge(data18, police_count_500m, on=['학교명'], how='outer', sort=True)
data20 = pd.merge(data19, cctv_count_500m, on=['학교명'], how='outer', sort=True)
data21 = pd.merge(data20, a_count_500m, on=['학교명'], how='outer', sort=True)
data21[['학교명','500m_inner_cctv']]

          학교명  500m_inner_cctv
0      가락고등학교              102
1     가재울고등학교              137
2      강동고등학교               51
3      강서고등학교              299
4    강서공업고등학교               98
..        ...              ...
315    효문고등학교              109
316  휘경공업고등학교               99
317  휘경여자고등학교              136
318    휘문고등학교              191
319    휘봉고등학교               89

[320 rows x 2 columns]

In [25]:
# 저장 후 주석처리 
# data21.to_csv("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/서울특별시_스케일링_고등학교지표.csv")