# 학교알리미 학교폭력교육시간
- 데이터 
    - 학교알리미_2021_서울_학교폭력교육시간.csv(DataPreprocessing)
    - 학교알리미_2021_서울_시군구별_학교폭력교육시간.csv(DataPreprocessing)

In [74]:
import pandas as pd
import numpy as np

## 덕수고등학교(일반고)삭제 
## 가락고등학교 행 추가

In [75]:
df1 = pd.read_excel("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/Crawling/학교폭력교육시간폴더/강남구_평균_교육_시간.xlsx")
df2 = pd.read_excel("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/Crawling/학교폭력교육시간폴더/강동구_평균_교육_시간.xlsx")
df3 = pd.read_excel("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/Crawling/학교폭력교육시간폴더/강북구_평균_교육_시간.xlsx")
df4 = pd.read_excel("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/Crawling/학교폭력교육시간폴더/강서구_평균_교육_시간.xlsx")
df5 = pd.read_excel("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/Crawling/학교폭력교육시간폴더/관악구_평균_교육_시간.xlsx")
df6 = pd.read_excel("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/Crawling/학교폭력교육시간폴더/광진구_평균_교육_시간.xlsx")
df7 = pd.read_excel("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/Crawling/학교폭력교육시간폴더/구로구_평균_교육_시간.xlsx")
df8 = pd.read_excel("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/Crawling/학교폭력교육시간폴더/금천구_평균_교육_시간.xlsx")
df9 = pd.read_excel("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/Crawling/학교폭력교육시간폴더/노원구_평균_교육_시간.xlsx")
df10 = pd.read_excel("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/Crawling/학교폭력교육시간폴더/도봉구_평균_교육_시간.xlsx")
df11 = pd.read_excel("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/Crawling/학교폭력교육시간폴더/동대문구_평균_교육_시간.xlsx")
df12 = pd.read_excel("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/Crawling/학교폭력교육시간폴더/동작구_평균_교육_시간.xlsx")
df13 = pd.read_excel("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/Crawling/학교폭력교육시간폴더/마포구_평균_교육_시간.xlsx")
df14 = pd.read_excel("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/Crawling/학교폭력교육시간폴더/서대문구_평균_교육_시간.xlsx")
df15 = pd.read_excel("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/Crawling/학교폭력교육시간폴더/서초구_평균_교육_시간.xlsx")
df16 = pd.read_excel("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/Crawling/학교폭력교육시간폴더/성동구_평균_교육_시간.xlsx")
df17 = pd.read_excel("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/Crawling/학교폭력교육시간폴더/성북구_평균_교육_시간.xlsx")
df18 = pd.read_excel("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/Crawling/학교폭력교육시간폴더/송파구_평균_교육_시간.xlsx")
df19 = pd.read_excel("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/Crawling/학교폭력교육시간폴더/양천구_평균_교육_시간.xlsx")
df20 = pd.read_excel("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/Crawling/학교폭력교육시간폴더/영등포구_평균_교육_시간.xlsx")
df21 = pd.read_excel("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/Crawling/학교폭력교육시간폴더/용산구_평균_교육_시간.xlsx")
df22 = pd.read_excel("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/Crawling/학교폭력교육시간폴더/은평구_평균_교육_시간.xlsx")
df23 = pd.read_excel("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/Crawling/학교폭력교육시간폴더/종로구_평균_교육_시간.xlsx")
df24 = pd.read_excel("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/Crawling/학교폭력교육시간폴더/중구_평균_교육_시간.xlsx")
df25 = pd.read_excel("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/Crawling/학교폭력교육시간폴더/중랑구_평균_교육_시간.xlsx")

In [76]:
time = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,
                           df11,df12,df13,df14,df15,df16,df17,df18,
                           df19,df20,df21,df22,df23,df24,df25], ignore_index=True)
time

     Unnamed: 0    구       학교명           구분  평균 교육 시간(1학급당)
0             0  강남구    개포고등학교  2020학년도 1학기           114.5
1             1  강남구    개포고등학교  2020학년도 2학기           138.3
2             2  강남구    경기고등학교  2020학년도 1학기            38.1
3             3  강남구    경기고등학교  2020학년도 2학기            38.1
4             4  강남구  경기여자고등학교  2020학년도 1학기           200.0
..          ...  ...       ...          ...             ...
635          15  중랑구    중화고등학교  2020학년도 2학기           849.8
636          16  중랑구    태릉고등학교  2020학년도 1학기            44.4
637          17  중랑구    태릉고등학교  2020학년도 2학기            44.4
638          18  중랑구  혜원여자고등학교  2020학년도 1학기           111.6
639          19  중랑구  혜원여자고등학교  2020학년도 2학기           111.4

[640 rows x 5 columns]

In [77]:
time.drop(['Unnamed: 0'], axis = 1,inplace=True)
time

       구       학교명           구분  평균 교육 시간(1학급당)
0    강남구    개포고등학교  2020학년도 1학기           114.5
1    강남구    개포고등학교  2020학년도 2학기           138.3
2    강남구    경기고등학교  2020학년도 1학기            38.1
3    강남구    경기고등학교  2020학년도 2학기            38.1
4    강남구  경기여자고등학교  2020학년도 1학기           200.0
..   ...       ...          ...             ...
635  중랑구    중화고등학교  2020학년도 2학기           849.8
636  중랑구    태릉고등학교  2020학년도 1학기            44.4
637  중랑구    태릉고등학교  2020학년도 2학기            44.4
638  중랑구  혜원여자고등학교  2020학년도 1학기           111.6
639  중랑구  혜원여자고등학교  2020학년도 2학기           111.4

[640 rows x 4 columns]

In [78]:
time.rename(columns = {'구':'시군구'},inplace=True)
time

     시군구       학교명           구분  평균 교육 시간(1학급당)
0    강남구    개포고등학교  2020학년도 1학기           114.5
1    강남구    개포고등학교  2020학년도 2학기           138.3
2    강남구    경기고등학교  2020학년도 1학기            38.1
3    강남구    경기고등학교  2020학년도 2학기            38.1
4    강남구  경기여자고등학교  2020학년도 1학기           200.0
..   ...       ...          ...             ...
635  중랑구    중화고등학교  2020학년도 2학기           849.8
636  중랑구    태릉고등학교  2020학년도 1학기            44.4
637  중랑구    태릉고등학교  2020학년도 2학기            44.4
638  중랑구  혜원여자고등학교  2020학년도 1학기           111.6
639  중랑구  혜원여자고등학교  2020학년도 2학기           111.4

[640 rows x 4 columns]

In [79]:
time_gu = time.groupby(["시군구","학교명"]).agg({"평균 교육 시간(1학급당)":"mean"}).reset_index()
time_gu

     시군구               학교명  평균 교육 시간(1학급당)
0    강남구            개포고등학교          126.40
1    강남구            경기고등학교           38.10
2    강남구          경기여자고등학교          200.00
3    강남구          국립국악고등학교          113.00
4    강남구  단국대학교부속소프트웨어고등학교          262.50
..   ...               ...             ...
315  중랑구            원묵고등학교           13.25
316  중랑구  이화여자대학교병설미디어고등학교          100.00
317  중랑구            중화고등학교          626.40
318  중랑구            태릉고등학교           44.40
319  중랑구          혜원여자고등학교          111.50

[320 rows x 3 columns]

In [80]:
time_gu.replace('은일정보산업고등학교', '유한공업고등학교',inplace=True)

In [81]:
# 저장 후 주석처리
# time_gu.to_csv("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/학교알리미_2021_서울_학교폭력교육시간.csv", index=False)

# 시군구 별 학교폭력교육시간

In [1]:
import pandas as pd
import numpy as np

In [2]:
time_gu_df = pd.read_csv("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/학교알리미_2021_서울_학교폭력교육시간.csv")
# time_gu_df['평균 교육 시간(1학급당)'].value_counts()

100.00    17
150.00    11
120.00     8
200.00     7
50.00      6
          ..
96.25      1
145.20     1
76.00      1
49.40      1
626.40     1
Name: 평균 교육 시간(1학급당), Length: 244, dtype: int64

In [3]:
time_gu_df2 = pd.DataFrame(time_gu_df.groupby('시군구')['평균 교육 시간(1학급당)'].mean().reset_index())
time_gu_df2

     시군구  평균 교육 시간(1학급당)
0    강남구      165.334091
1    강동구      121.264286
2    강북구      224.571429
3    강서구      148.695652
4    관악구      185.070588
5    광진구      111.733333
6    구로구      165.407143
7    금천구      103.108333
8    노원구      151.172000
9    도봉구      160.555000
10  동대문구      129.268182
11   동작구      197.714286
12   마포구      188.888889
13  서대문구      102.828571
14   서초구      124.263636
15   성동구      142.861111
16   성북구      186.176923
17   송파구      196.747368
18   양천구      164.060000
19  영등포구      106.194444
20   용산구      166.180000
21   은평구      168.150000
22   종로구      165.560714
23    중구      191.186364
24   중랑구      176.905000

In [85]:
# 저장 후 주석처리
# time_gu_df2.to_csv("C:/sooeun/DATAexam/ConvergenceProject-School_Violence/Data/학교알리미_2021_서울_시군구별_학교폭력교육시간.csv", index=False)